<div class="form-section">
  <%= form_for(profile, 'data-abide' => true, novalidate: true) do |f| %>
    <% if profile.errors.any? %>
      <div id="error_explanation", data-abide-error class="alert callout">
        <h2><p><i class="fa fa-exclamation-circle"></i><%= pluralize(profile.errors.count, 'error') %> prohibited this profile from being saved:</p></h2>

        <ul>
          <% profile.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <fieldset>
      <div class="field-label-item">
        <% if @profile.persisted? %>
          <h3><%= t('edit_your_registration') %></h3>
        <% else %>
          <h3><%= t('complete_your_registration') %></h3>
        <% end %>
      </div>
    </fieldset>

    <fieldset>
      <div class="field-label">
        <label for="user-email"><%= t('email') %> *</label>
      </div>
      <div class="field-item">
        <%= f.email_field :email, id: 'user-email', required: true, disabled: true, value: current_user.email %>
      </div>
    </fieldset>

    <fieldset>
      <div class="field-label">
        <%= f.label "#{t('first_name')} *", for: 'user-first-name' %>
      </div>
      <div class="field-item">
        <%= f.text_field :first_name, required: true, id: 'user-first-name' %>
      </div>
    </fieldset>

    <fieldset>
      <div class="field-label">
        <%= f.label "#{t('last_name')} *", for: 'user-last-name' %>
      </div>
      <div class="field-item">
        <%= f.text_field :last_name, required: true, id: 'user-last-name' %>
      </div>
    </fieldset>

    <fieldset>
      <div class="field-label">
        <%= f.label "#{t('address')} *", for: 'user-address' %>
      </div>
      <div class="field-item">
        <%= f.text_field :address, id: 'user-address' %>
      </div>
    </fieldset>

    <fieldset>
      <div class="field-label">
        <%= f.label "#{t('country')} *", for: 'profile_country_numeric_code' %>
      </div>
      <div class="field-item">
        <%= f.select :country_numeric_code, country_select(@profile) %>
      </div>
    </fieldset>

    <div id="state_select">
    </div>

    <fieldset>
      <div class="field-label">
        <%= f.label "#{t('city')} *", for: 'user-city' %>
      </div>
      <div class="field-item">
        <%= f.text_field :city, required: true, id: 'user-city' %>
      </div>
    </fieldset>

    <fieldset>
      <div class="field-label">
        <%= f.label "#{t('zip_code')} *", for: 'user-postal-code' %>
      </div>
      <div class="field-item">
        <%= f.text_field :zip_code, required: true, id: 'user-postal-code', placeholder: '99999-999' %>
      </div>
    </fieldset>

    <fieldset>
      <div class="field-label">
        <%= f.label "#{t('birthdate')} *", for: 'user-birthdate' %>
      </div>
      <div class="field-item">
        <%= date_select :profile, :birthdate, { use_month_numbers: true, use_two_digit_numbers: true, include_blank: true, start_year: Date.today.year - 100, end_year: Date.today.year - 10, order: [:day, :month, :year] }, required: true %>
      </div>
    </fieldset>

    <div id='responsible_fields' style='display:none'>
      <fieldset class="user-responsible">
        <div class="field-label">
          <%= f.label "#{t('responsible_name')} *", for: 'user-responsible-name' %>
        </div>
        <div class="field-item">
          <%= f.text_field :responsible_name, id: 'user-responsible-name', 'aria-describedby' => 'passwordHelpText' %>
        </div>
      </fieldset>

      <fieldset class="user-responsible">
        <div class="field-label">
          <%= f.label "#{t('responsible_document')} *", for: 'user-responsible-id-number' %>
        </div>
        <div class="field-item">
          <%= f.text_field :responsible_document, id: 'user-responsible-id-number', 'aria-describedby' => 'passwordHelpText' %>
        </div>
      </fieldset>
    </div>

    <fieldset>
      <div class="field-label">
        <%= f.label "#{t('gender')} *" %>
      </div>
      <div class="field-item">
        <%= gender_radios(f) %>
      </div>
    </fieldset>

    <fieldset>
      <div class="field-label">
        <%= f.label t('student') %>
      </div>
      <div class="field-item">
        <%= student_radios(@profile) %>
      </div>
    </fieldset>

    <div id="school_fields" style="display:none">
      <fieldset class="user-school">
        <div class="field-label">
          <%= f.label "#{t('school_type')} *", for: 'user-school-type' %>
        </div>
        <div class="field-item">
          <%= f.select :school_type, school_type_select(@profile.school_type), id: 'user-school-type' %>
        </div>
      </fieldset>

      <fieldset class="user-school">
        <div class="field-label">
          <%= f.label I18n.t "#{t('school')} *", for: 'user-school-name' %>
        </div>
        <div class="field-item">
          <%= f.text_field :school, id: 'user-school-name' %>
        </div><br>
      </fieldset>
    </div>

    <fieldset>
      <div class="field-label">
        <%= f.label "#{t('occupation')} *", for: 'profile_occupation' %>
      </div>
      <div class="field-item">
        <%= f.select :occupation, occupation_select(@profile.occupation) %>
      </div>
    </fieldset>

    <fieldset>
      <div class="field-label">
        <%= f.label t('phone'), for: 'user-phone' %>
      </div>
      <div class="field-item">
        <%= f.text_field :phone, id: 'user-phone', placeholder: '(11) 99999-9999' %>
      </div>
    </fieldset>

    <fieldset>
      <div class="field-label">
        <%= f.label "#{t('preferred_language')} *", for: 'profile_preferred_language' %>
      </div>
      <div class="field-item">
        <%= f.select :preferred_language, I18n.available_locales, selected: I18n.locale %>
      </div>
    </fieldset>

    <fieldset>
      <div class="field-label-item">
        <%= f.check_box :receive_mass_email %>
        <%= f.label t('receive_newsletter'), for: :receive_mass_email %>
      </div>
    </fieldset>

    <fieldset>
      <% unless @profile.persisted? %>
          <%# The user has already accepted the terms of service %>
          <div class="field-label-item">
            <%= f.check_box :terms_of_service, id: 'user-terms', required: true %>
            <%= f.label t('terms_of_service'), for: :terms_of_service %>
          </div>

          <%# Don't show recaptcha if the user has already proven that he's not a robot %>
          <div class="field-label-item recaptcha"><%= recaptcha_tags %></div>
      <% end %>

      <div class="field-label-item">
        <%= f.submit t('save'), class: 'button' %>
      </div>
    </fieldset>
  <% end %>
  <%= hidden_field_tag('locale', I18n.locale) %>
  <%= hidden_field_tag('stored_state', @profile.state) %>
</div>

<% content_for :footer do %>
  <%= javascript_include_tag 'profiles/responsible_fields.js' %>
  <%= javascript_include_tag 'profiles/school_fields.js' %>
  <%= javascript_include_tag('profiles/state_select.js') %>
<% end %>
