<fieldset>
  <div class="field-label">
    <%= label_tag 'profile_state', "#{t('state')} *" %>
  </div>
  <div class="field-item">
    <%= select_tag :state, state_select(states, selected_state), name: 'profile[state]' %>
    <span class="form-error">
      Campo obrigatório.
    </span>
  </div>
</fieldset>
