<main>
  <div class="user-profile-section">
    <!-- TODO: Add profile picture support
    <div class="user-profile-image">
      <label for="profile-pic-upload" class="button profile-pic-button">
        <img src="http://lorempixel.com/300/300/cats" alt="Nome Sobrenome">
        <input type="file" id="profile-pic-upload" class="show-for-sr" required>
      </label>
    </div>
    -->
    <div class="user-profile-info">
      <div class="user-profile-info-row">
        <h2 class="user-name"><%= @profile.full_name %><!-- <a class="edit-profile-field" data-open="edit-user-name"><% t('.edit_name') %></a> --></h2>
        <% if user_owns_profile? @profile %>
          <%= link_to t('.edit_profile'), edit_profile_path(profile_id: @profile.id), class: 'edit-profile-field' %>
        <% end %>
        <!-- TODO: Use the appropriate rails form for this
        <div class="reveal" id="edit-user-name" data-reveal>
          <h3><%= t('.edit_full_name_label') %></h3>

          <form data-abide novalidate action="" method="get">
            <fieldset>
              <div class="field-label">
                <label for="user-first-name"><%= "#{t('.name_input')} *" %></label>
              </div>
              <div class="field-item">
                <input type="text" id="user-first-name" name="user-first-name" value="<%= @profile.first_name %>" required>
              </div>
            </fieldset>

            <fieldset>
              <div class="field-label">
                <label for="user-last-name"><%= "#{t('.last_name_input')} *" %></label>
              </div>
              <div class="field-item">
                <input type="text" id="user-last-name" name="user-last-name" value="<%= @profile.last_name %>" required>
              </div>
            </fieldset>

            <fieldset>
              <div class="field-label-item recaptcha">
                <button data-close aria-label="Close modal" type="button" class="button">
                  <%= t('.cancel') %>
                </button>
                <button type="submit" class="button">
                  <%= t('.change') %>
                </button>
              </div>
            </fieldset>
          </form>

          <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        -->

        <!-- <div class="user-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem. Ut turpis felis, pulvinar a semper sed, adipiscing id dolor. Pellentesque auctor nisi id magna. Até 600 caracteres incluindo espaço.
          <a class="edit-profile-field" data-open="edit-user-description">editar</a>
        </div>

        <div class="reveal" id="edit-user-description" data-reveal>
          <h3>Edite sua descrição:</h3>

          <form data-abide novalidate action="" method="get">
            <div data-abide-error class="alert callout" style="display: none;">
              <p><i class="fa fa-exclamation-circle"></i> Existem alguns erros no formulário.</p>
            </div>
            <fieldset>
              <div class="field-label">
              </div>
              <div class="field-item">
                <textarea name="user-description" id="user-description" required rows="10">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem. Ut turpis felis, pulvinar a semper sed, adipiscing id dolor. Pellentesque auctor nisi id magna. Até 600 caracteres incluindo espaço.</textarea>
                <span class="form-error">
                  Campo obrigatório.
                </span>
              </div>
            </fieldset>

            <fieldset>
              <div class="field-label-item recaptcha">
                <button data-close aria-label="Close modal" type="button" class="button">
                  cancelar
                </button>
                <button type="submit" class="button">
                  alterar
                </button>
              </div>
            </fieldset>
            </form>

          <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        -->
      </div>
      <div class="user-profile-numbers">
        <div class="user-profile-numbers-col">
          <ul>
            <li><a href="#featured"><span><%= @featured_contents.size %></span> <%= t('.featured_contents') %></a></li>
            <li><a href="#videos"><span><%= @finished_videos.size %></span> <%= t('.videos') %></a></li>
            <!-- TODO: Add gif support
            <li><a href="#gifs"><span>999</span> gifs</a></li>
            -->
            <!-- TODO: Add phrase support
            <li><a href="#phrases"><span>9</span> frases</a></li>
            -->
          </ul>
        </div>
        <!-- TODO: Add follows/followers support
          <div class="user-profile-numbers-col">
            <ul>
              <li><a data-open="followers"><span>9.999</span> seguidores <i class="fa fa-external-link"></i></a></li>
              <li><a data-open="following"><span>99</span> seguindo <i class="fa fa-external-link"></i></a></li>
            </ul>
          </div>
          -->
      </div>
    </div>
  </div>

<!-- modals -->
<!-- TODO: Add follows/followers support
  <div class="large reveal" id="followers" data-reveal>
    <h3 class="user-content-section-title">seguidores</h3>
    <div id="list-followers">
    {{#each list-videos-related}}
      {{> list-card-user}}
    {{/each}}
    </div>

    <p class="see-more">
      <a onclick="loadMore(this, 'list-followers', 'load-more-users');" class="see-more-button">ver mais</a>
    </p>

    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>

  </div>
  <div class="large reveal" id="following" data-reveal>
    <h3 class="user-content-section-title">seguindo</h3>
    <div id="list-following">
    {{#each list-videos-related}}
      {{> list-card-user}}
    {{/each}}
    </div>

    <p class="see-more">
      <a onclick="loadMore(this, 'list-following', 'load-more-users');" class="see-more-button">ver mais</a>
    </p>

    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>

  </div>
-->

<!-- content -->
  <div class="card-section" id="featured">
    <div class="columns small-12">
      <h3 class="card-type-title"><%= t('.featured_contents') %></h3>
    </div>
    <div id="list-featured">
      <%= render partial: 'shared/list_card_video', collection: @featured_contents, as: :video, locals: { scope: '' } %>
    </div>

    <!-- TODO: Add pagination
    <p class="see-more">
      <a onclick="loadMore(this, 'list-featured', 'load-more-videos-complete');" class="see-more-button">ver mais</a>
    </p>
    -->

  </div>
  <div class="card-section" id="videos">
    <div class="columns small-12">
      <h3 class="card-type-title"><%= t('.videos') %></h3>
    </div>
    <div id="list-evaluated-videos">
      <%= render partial: 'shared/list_card_video', collection: @evaluated_videos, as: :video, locals: { scope: '' } %>
    </div>

    <!-- TODO: Add pagination
    <p class="see-more">
      <a onclick="loadMore(this, 'list-videos', 'load-more-videos-complete');" class="see-more-button">ver mais</a>
    </p>
    -->

  </div>

  <% if user_owns_profile? @profile %>
    <div class="card-section" id="non_evaluated_videos">
      <div class="columns small-12">
        <h3 class="card-type-title"><%= t('.non_evaluated_videos') %></h3>
      </div>
      <div id="list-non-evaluated-videos">
        <%= render partial: 'shared/list_card_video', collection: @non_evaluated_videos, as: :video, locals: { scope: '' } %>
      </div>

      <!-- TODO: Add pagination
        <p class="see-more">
        <a onclick="loadMore(this, 'list-videos', 'load-more-videos-complete');" class="see-more-button">ver mais</a>
        </p>
      -->

    </div>

    <% unless @unfinished_videos.empty?  %>
      <div class="card-section" id="non_evaluated_videos">
        <div class="columns small-12">
          <h3 class="card-type-title"><%= t('.unfinished_videos') %></h3>
        </div>
        <div id="list-unfinished-videos">
          <ul>
            <% @unfinished_videos.each do |unfinished_video| %>
              <li><%= unfinished_video.title %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  <% end %>

  <!-- TODO: Add gif support
  <div class="card-section" id="gifs">
    <div class="columns small-12">
      <h3 class="card-type-title">gifs</h3>
    </div>
    <div id="list-gifs">
    {{#each list-videos-related}}
      {{> list-card-video-complete}}
    {{/each}}
    </div>

    <p class="see-more">
      <a onclick="loadMore(this, 'list-gifs', 'load-more-videos-complete');" class="see-more-button">ver mais</a>
    </p>

  </div>
  -->

  <!-- TODO: Add phrase support
  <div class="card-section" id="phrases">
    <div class="columns small-12">
      <h3 class="card-type-title">frases</h3>
    </div>
    <div id="list-phrases">
    {{#each list-videos-related}}
      {{> list-card-phrase}}
    {{/each}}
    </div>

    <p class="see-more">
      <a onclick="loadMore(this, 'list-phrases', 'load-more-phrases');" class="see-more-button">ver mais</a>
    </p>

  </div>
  -->
</main>
