<div class="content-details">
  <div class="left-col">
    <h2 class="content-title"><%= content.title %></h2>
    <div class="inline-grid">
      <h3 class="content-author"><%= t('.by') %> <%= content.user.profile.full_name %></h3>
      <!-- TODO: Uncomment after the follow routes are defined
        <a href=<#= follow_path(video.user) %> class="follow-button small has-tip top" data-tooltip aria-haspopup="true" class="has-tip top ic-premio" data-disable-hover='false' tabindex=1 title="Seguir usuário">
        <i class="fa fa-long-arrow-left"></i>
        <i class="fa fa-long-arrow-left"></i>
        <i class="fa fa-long-arrow-left"></i>
        <i class="fa fa-long-arrow-left"></i>
        </a>
      -->
    </div>
    <%= display_location_information(content.user.profile) %>
    <p><%= t('.added_on', date: content.created_at.to_date) %><span class="video-license">BY-NC-SA</span></p>
  </div>
  <div class="right-col">
    <div class="content-icons-group">
      <!-- TODO: Uncomment after video awards are implemented
        <# if video.awarded? %>
          <span data-tooltip aria-haspopup="true" class="has-tip top ic-premio" data-disable-hover='false' tabindex=1 title="<#= t('.awarded')%>"></span>
        <# end %>
      -->
      <% if content.featured? %>
        <span data-tooltip aria-haspopup="true" class="has-tip top ic-destaque" data-disable-hover='false' tabindex=1 title="<%= t('.featured')%>"></span>
      <% end %>
    </div>
    <h3 class="content-views"><%= content.view_count %> <%= t('.views') %></h3>
    <div class="content-rating">
      <% if user_signed_in? %>
        <%= form_tag public_rating_path, id: 'public_rating_form', method: :post, remote: true do %>
        <%= hidden_field_tag 'content_id', content.id %>
        <%# TODO: Public ratings should be available only on public contests %>
        <% cache("content/#{content.id}/average_grade", expires_in: 2.hour) do %>
          <input type="range" min="0" max="5" value="<%= content.average_grade %>" step="0.5" id="content-rating-val" name="grade">
          <div class="rateit" data-rateit-backingfld="#content-rating-val" data-rateit-ispreset="true" data-rateit-starwidth="20" data-rateit-starheight="20"></div>
        <% end %>
        <div>
          <%= button_tag type: 'submit', class: 'evaluate-button' do %>
            <%= t('.evaluate') %>
          <% end %>
          <div id='public_rating_message'></div>
        </div>
      <% end %>
      <% else %>
        <%= t('.needs_to_login_to_evaluate') %>
      <% end %>
    </div>
  </div>

  <div class="columns small-12">
    <!-- Uncomment after the tags backend is complete
      <h3 class="content-tags"><#= t('.contents.show.details.tags') %>
    <# if video.show_tags.empty? %>
      <#= t('.none') %>
    <# else %>
      <#= video.show_tags %>
    <# end %>
    </h3>
    -->
    <h3 class="content-contests"> <%= t('.contests') %>:
      <%= contest_list_for(content) %>
    </h3>
  </div>
</div>

<% content_for :footer do %>
  <%= javascript_include_tag 'contents/public_rating' %>
<% end %>
