<div class="form-section">
  <div class="columns small-12">
    <h2><%= t('send_content') %></h2>
  </div>
  <%= form_for(content, 'data-abide' => true, novalidate: true, html: { multipart: true } ) do |f| %>
    <% if content.errors.any? %>
      <div id="error_explanation" data-abide-error class="alert callout">
        <h2 class="fa fa-exclamation-circle"><%= pluralize(content.errors.count, "error") %> <%= t('content_save_error_nessage') %></h2>
        <ul>
          <% content.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <fieldset>
      <div class="field-label">
        <%= f.label "#{t('author')} *", for: 'content_author' %>
      </div>
      <div class="field-item">
        <%= f.text_field :author, required: true, disabled: true, value: current_user.profile.full_name %>
      </div>
    </fieldset>

    <fieldset class="contest-select">
      <div class="field-label">
        <legend>
          <%= Contest.model_name.human %> *
          <span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover='false' tabindex=1 title="<%= t('content_form_tooltip') %>"><i class="fa fa-question-circle"></i></span>
        </legend>
      </div>
      <div class="field-item">
        <% @contests.each do |contest| %>
          <%= check_box_tag 'contests[]', contest.id, false, id: "contest_#{contest.id}" %>
          <%= label_tag "contest_#{contest.id}" do %>
            <%= contest.name.truncate(43) %>
          <% end %>
          <%= link_to contest_path(contest), title: t('contest_link_title') do %>
            <i class="fa fa-external-link"></i>
          <% end %>
          </br>
        <% end %>
      </div>
    </fieldset>

    <fieldset>
      <div class="field-label-item">
        <%= f.check_box :terms_of_service, id: 'user-terms', required: true %>
        <%= f.label for: :terms_of_service do %>
          <%= t('terms_of_service_html', link: (link_to t('terms_of_use'), terms_of_use_path, :data => { :colorbox => true, :colorbox_height => '80%', :colorbox_width => '80%' })) %>
        <% end %>
      </div>
    </fieldset>

    <div id="content-upload-field-group">
      <div class="content-field-group video-field">
        <%= f.fields_for :original_medias do |original_medias_form| %>
          <fieldset>
            <div class="field-label-item">
              <h3><%= t('video') %></h3>
            </div>
            <div class="field-label">
              <%= original_medias_form.label "#{t('video')} *", for: 'video-upload' %>
            </div>
            <div class="field-item">
              <%= original_medias_form.label t('select_file'), for: 'video-upload', class: 'button', id: 'file-label' %>
              <%= original_medias_form.file_field :media, required: true, class: 'show-for-sr', id: 'video-upload' %>
              <%= original_medias_form.hidden_field :type, value: Video.to_s %>
            </div>
          </fieldset>
        <% end %>
        <fieldset>
          <div class="field-label">
            <%= f.label "#{t('title')} *", for: 'video-title' %>
          </div>
          <div class="field-item">
            <%= f.text_field :title, required: true, id: 'video-title' %>
          </div>
        </fieldset>
        <fieldset>
          <div class="field-label">
            <%= f.label "#{t('director')} *", for: 'video-director' %>
          </div>
          <div class="field-item">
            <%= f.text_field :director, required: true, id: 'video-director' %>
          </div>
        </fieldset>
        <fieldset>
          <div class="field-label">
            <%= f.label t('co_director'), for: 'video-co-director' %>
          </div>
          <div class="field-item">
            <%= f.text_field :co_director, id: 'video-co-director' %>
          </div>
        </fieldset>
        <fieldset>
          <div class="field-label">
            <%= f.label(for: 'video-team') do %>
              <%= t('team') %>
              <span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex=1 title="<%= t('team_tooltip') %>"><i class="fa fa-question-circle"></i></span>
            <% end %>
          </div>
          <div class="field-item">
            <%= f.text_area :team, id: 'video-team' %>
          </div>
        </fieldset>
        <fieldset>
          <div class="field-label">
            <%= f.label(for: 'video-soundtrack') do %>
              <%= "#{t('soundtrack')} *" %>
              <span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex=1 title="<%= t('soundtrack_tooltip') %>"><i class="fa fa-question-circle"></i></span>
            <% end %>
          </div>
          <div class="field-item">
            <%= f.text_field :soundtrack, id: 'video-soundtrack', required: true %>
          </div>
        </fieldset>
        <fieldset>
          <div class="field-label-item">
            <%= f.label(for: 'video-has-location') do %>
              <%= check_box_tag 'video-has-location', 'yes' %>
              <%= t('specific_location') %>
            <% end %>
          </div>
        </fieldset>
        <fieldset style="display: none;" id="video-location">
          <div class="field-label">
            <%= f.label "#{t('zip_code')} *", for: 'video-location-postal-code' %>
          </div>
          <div class="field-item">
            <%= f.text_field :zip_code, id: 'video-location-postal-code', placeholder: '99999-999' %>
          </div>
        </fieldset>
        <!-- TODO: Add tag support for contents
          <fieldset>
          <div class="field-label">
          <label for="video-tags">Tags</label>
          </div>
          <div class="field-item">
          <input type="text" id="video-tags" name="video-tags" placeholder="" aria-describedby="tagsHelpText">
          <span class="form-error">
          Campo obrigatório.
          </span>
          <p class="help-text" id="tagsHelpText">Utilize vírgulas entre as tags</p>
          </div>
          </fieldset>
        -->
        <fieldset>
          <div class="field-label-item">
            <%= f.label(for: 'video-adults-only') do %>
              <%= f.check_box :adult, id: 'video-adults-only', value: 'yes' %>
              <%= t('adult') %>
            <% end %>
          </div>
        </fieldset>
        <fieldset>
          <div class="field-label-item">
            <%= f.label(for: 'video-allow-commentary') do %>
              <%= f.check_box :allow_comments, id: 'video-allow-commentary', value: 'yes' %>
              <%= t('allow_commentary') %>
            <% end %>
          </div>
        </fieldset>
      </div>

    </div>

    <fieldset>
      <div class="field-label-item">
        <%= f.submit t('register'), class: 'button' %>
      </div>
    </fieldset>
  <% end %>
</div>

<div id="loader" class="loader loader-default is-active" data-text="<%= t('.uploading') %>" style="display: none;"></div>

<% content_for :footer do %>
  <%= javascript_include_tag 'contents/show_zip_code_input.js' %>
  <%= javascript_include_tag 'contents/show_selected_file_name.js' %>
  <%= javascript_include_tag 'contents/toggle_upload_animation.js' %>
<% end %>
