<div class="content-details">
  <div class="left-col">
    <a href="<%= video_path(video.id) %>"><h2 class="content-title"><%= video.title %></h2></a>
    <!-- TODO: Uncomment after the follow routes are defined
      <div class="inline-grid">
        <h3 class="content-author"><#= t('.by') %> <a href="<#= follow_path(video.user) %>"><#= video.user.full_name %></a></h3>
      </div>
    -->
    <%= display_location_information(video.user.profile) %>
    <p><%= t('contents.content_details.added_on', date: video.created_at.to_date) %><span class="video-license">BY-NC-SA</span></p>
  </div>
  <div class="right-col">
    <div class="content-icons-group">
      <!-- TODO: Uncomment after video awards are implemented
        <# if video.awarded? %>
          <span data-tooltip aria-haspopup="true" class="has-tip top ic-premio" data-disable-hover='false' tabindex=1 title="<#= t('.awarded')%>"></span>
        <# end %>
      -->
      <% if video.featured? %>
        <span data-tooltip aria-haspopup="true" class="has-tip top ic-destaque" data-disable-hover='false' tabindex=1 title="<%= t('contents.content_details.featured')%>"></span>
      <% end %>
    </div>
    <h3 class="content-views"><%= video.view_count %> <%= t('contents.content_details.views') %></h3>
    <div class="content-rating">
      <% if user_signed_in? %>
        <%= form_tag public_rating_path, id: 'public_rating_form', method: :post, remote: true do %>
          <%= hidden_field_tag 'content_id', video.id %>
          <%# TODO: Public ratings should be available only on public contests %>
          <% cache("content/#{video.id}/average_grade", expires_in: 2.hour) do %>
            <input type="range" min="0" max="5" value="<%= video.average_grade %>" step="0.5" id="content-rating-val" name="grade">
            <div class="rateit" data-rateit-backingfld="#content-rating-val" data-rateit-ispreset="true" data-rateit-starwidth="20" data-rateit-starheight="20"></div>
          <% end %>
          <div>
            <%= button_tag type: 'submit', class: 'evaluate-button' do %>
              <%= t('contents.content_details.evaluate') %>
            <% end %>
            <div id='public_rating_message'></div>
          </div>
        <% end %>
      <% else %>
        <%= t('contents.content_details.needs_to_login_to_evaluate') %>
      <% end %>
    </div>
  </div>
</div>
