<%= link_to(destination_path, id: 'vjs-map-button-image-destination', className: 'vjs-control-bar', target: '_self') do %>
  <span data-tooltip aria-haspopup="true" class="has-tip left ic-mapa" data-disable-hover="false" tabindex=1 title="<%= t('.caption') %>"></span>
<% end %>
