<div class="map-player-box">
  <%= render partial: 'video_player', locals: { content: @content, video: @encoded_video.video } %>
</div>

<%= render partial: 'map_video_details', locals: { video: @content } %>

<input type="hidden" id="share_button_<%=@content.id%>_link" value="<%= share_button_path(@content.id) %>">
<input type="hidden" id="share_box_<%=@content.id%>_link" value="<%= share_box_path(@content.id) %>">
