<div class="content-detailed-section">
  <%= hidden_field_tag 'video_link', video_url(video.id) %>
  <input type="hidden" id="latitude-<%= video.id %>" name="latitude" value="<%= video.coordinate.latitude %>">
  <input type="hidden" id="longitude-<%= video.id %>" name="longitude" value="<%= video.coordinate.longitude %>">
  <% if video.featured? %>
    <input type="hidden" name="markerType" value="markerFeatured">
  <% else %>
    <input type="hidden" name="markerType" value="markerNormal">
  <% end %>
  <input type="hidden" id="map_link" value="<%= map_view_path(video.id) %>">
  <input type="hidden" name="map_player_link" value="<%= map_player_path(video.id) %>">
</div>
