<%= content_tag(:a, id: 'vjs-share-button-image-destination', className: 'vjs-control-bar', target: '_self') do %>
  <span data-tooltip aria-haspopup="true" class="has-tip left ic-share" data-disable-hover="false" tabindex=1 title="<%= t('.share') %>" onClick="toggle_display_element('share-box-video-' + <%= id %>, 'block')"></span>
<% end %>
