<div id="share-box-video-<%= content.id %>" class="vjs-share-box">
  <div class="share-links-group">
    <h3>
      <%= t('.share') %>
    </h3>
    <%= facebook_share(content_url(content), content.title) %>
    <%= twitter_share(content_url(content), content.title) %>
    <%= google_plus_share(content_url(content)) %>
    <%= content_tag(:a, onClick: "toggle_display_element('share-link-modal-video-#{content.id}', 'block')", class: 'fa-stack fa-1x') { icon('link') } %>
    <div class="share-link-modal" id="share-link-modal-video-<%= content.id %>">
      <p><%= t('.share_instructions') %></p>
      <input type="text" value="<%= content_url(content) %>">
      <button class="close-button" aria-label="Close modal" type="button" onClick="document.getElementById('share-link-modal-video-<%= content.id %>').style.display='none';">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <button class="close-button" aria-label="Close modal" type="button" onClick="toggle_display_element('share-box-video-' + <%= content.id %>, 'none');">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
