<div class="player-box">
  <input type="hidden" id="video-endcap-<%= content.id %>" value="<%= related_contents_path(content.id, format: :json) %>">
  <%# FIXME: Poltergeist server won't recognize the video source if put on a source tag %>
  <video id="video-<%= content.id %>" class="video-js" controls preload="none" data-setup="{}" src="<%= video.url %>" type="video/mp4">
    <p class="vjs-no-js">
    <%= t('.video_js_support_message_html') %>
    </p>
  </video>
</div>
