<%= hidden_field_tag 'video_id', @content.id %>

<main class="map-view-content">
<div id="map-view-section"></div>

  <div class="hide">
    <% @contents.each do |video| %>
      <%= render partial: 'map_markers', locals: { video: video } %>
    <% end %>
  </div>
</main>

<script type="text/javascript" charset="UTF-8">
[
  "https://maps.googleapis.com/maps/api/js?key=<%= "#{GoogleMapsSettings.key}" %>",
  "<%= javascript_path 'contents/map.js' %>"
].forEach(function(src) {
  var script = document.createElement('script');
  script.src = src;
  script.async = false;
  document.head.appendChild(script);
});
</script>
