<main>
  <%= hidden_field_tag 'video_link', content_url(@content.id) %>
  <%= hidden_field_tag 'video_title', @content.title %>
  <div class="content-detailed-section">
    <!-- TODO: include autoplay
  <div class="autoplay-section">
    <div class="autoplay-label"><%= t('.autoplay') %></div>
    <div class="switch tiny">
      <input class="switch-input" id="auto-play" type="checkbox" name="autoplay">
      <label class="switch-paddle" for="auto-play">
        <span class="show-for-sr"><%= t('.autoplay') %></span>
      </label>
    </div>
  </div>
-->

    <div class="content-box">
      <%= render partial: 'video_player', locals: { content: @content, video: @video } %>
    </div>

    <%= render partial: 'content_details', locals: { content: @content } %>
  </div>

  <!-- TODO: implement related contents
<div class="related-content">
  <div class="content-sub-container">
    <div class="inline-grid">
      <ul class="tabs" data-tabs id="example-tabs">
        <li class="tabs-title is-active"><a href="#list-videos-related" aria-selected="true"><%= t('.related_content') %></a></li>
        <li class="tabs-title"><a href="#list-videos-same-author"><%= t('.other_content_from_user')%></a></li>
          TODO: Uncomment and add comments partial after the comment backend
          <# if @video.allow_comments? %>
          <li class="tabs-title"><a href="#comments"><#= t('.comment_this_content') %></a></li>
          <# end %>
      </ul>
    </div>
  </div>

  <div class="tabs-content" data-tabs-content="example-tabs">
    <div class="tabs-panel is-active" id="list-videos-related">
      <div id="list-related">
      </div>

      <p class="see-more">
      <a name="load_related" class="see-more-button"><%= t('see_more') %></a>
      </p>
    </div>

    <div class="tabs-panel" id="list-videos-same-author">
      <div id="list-same">
      </div>

      <p class="see-more">
      <a name="load_more_from_user" class="see-more-button"><%= t('see_more') %></a>
      </p>
    </div>

    TODO: Uncomment and add comments partial after the comment backend
      <#= render partial: 'comments', locals: { video: @video } %>
  </div>
</div>
-->
</main>
<% content_for :footer do %>
  <%= javascript_include_tag 'contents/share_button.js' %>
  <%= javascript_include_tag 'contents/map_button.js' %>
  <%= javascript_include_tag 'contents/related_contents.js' %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var share_plugin_builder = new ShareButtonPluginBuilder("<%= escape_javascript(render partial: 'share_button', locals: { id: @content.id }) %>", "<%= escape_javascript(render partial: 'share_box', locals: { content: @content }) %>");
      var map_plugin_builder = new MapButtonPluginBuilder("<%= escape_javascript(render partial: 'map_button', locals: { destination_path: map_view_path(@content.id) }) %>");
      video = videojs('video-<%= @content.id %>');
      video.shareButton({ plugin_builder: share_plugin_builder });
      video.mapButton({ plugin_builder: map_plugin_builder });
    })
  <% end %>
<% end %>
