<main>
<%= devise_error_messages! %>
  <div class="form-section">
    <!-- TODO: implement facebook integration
    <fieldset>
      <div class="columns small-8 small-offset-4">
        <a class="fb-button" href="#">
          <i class="fa fa-facebook-square"></i>&nbsp;<%= t('subscribe_with_facebook') %>
        </a>
      </div>
      <div class="columns small-12">
        <hr>
      </div>
      <div class="columns small-8 small-offset-4">
        <h3><%= t('complete_form') %></h3>
      </div>
    </fieldset>
    -->

    <%= form_for(:user, url: registration_path(:user)) do |f| %>
      <div data-abide-error class="alert callout" style="display: none;">
        <p><i class="fa fa-exclamation-circle"></i><%= t('there_are_errors_on_the_form') %></p>
      </div>
      <fieldset>
        <div class="field-label">
          <%= f.label "#{t('email')} *" %><br />
        </div>
        <div class="field-item">
          <%= f.email_field :email, autofocus: true, id: 'user-email', required: true %>
        </div>
      </fieldset>

      <fieldset>
        <div class="field-label">
          <%= f.label "#{t('email_confirmation')} *" %><br />
        </div>
        <div class="field-item">
          <%= f.email_field :email_confirmation, autofocus: true, id: 'user-email-confirmation', required: true, 'data-equalto' => 'user-email' %>
          <span class="form-error">
            <%= t('emails_must_be_equal') %>
          </span>
        </div>
      </fieldset>

      <fieldset>
        <div class="field-label">
          <%= f.label "#{t('password')} *" %><br />
        </div>
        <div class="field-item">
          <%= f.password_field :password, autocomplete: 'off', id: 'user-password', required: true, 'aria-describedby' => 'passwordHelpText' %>
          <p class="help-text" id="passwordHelpText"><%= t('password_character_limit') %></p>
        </div>
      </fieldset>

      <fieldset>
        <div class="field-label">
          <%= f.label "#{t('password_confirmation')} *" %><br />
        </div>
        <div class="field-item">
          <%= f.password_field :password_confirmation, autocomplete: 'off', id: 'user-password-confirmation', required: true, 'data-equalto' => 'user=password' %>
          <span class="form-error">
            <%= t('passwords_must_be_equal') %>
          </span>
        </div>
      </fieldset>

      <fieldset>

        <div class="field-label-item">
          <%= f.submit t('register'), class: 'button' %>
        </div>
      </fieldset>
    <% end %>
  </div>
</main>
