<div style="padding: 10px;">
  <h4>Sobre o Festival do Minuto: </h4>

  <p>Criado em 1991, o Festival do Minuto trabalha com a seleção de imagens em movimento – de amadores e profissionais – para o exercício da síntese em trabalhos com duração máxima de 60 segundos. Ele foi o pioneiro no formato no mundo, tendo inspirado a criação de Festivais do Minuto em mais de 50 países.</p>

  <p>Ao longo de seus 25 anos, o Festival do Minuto acompanhou a evolução dos vídeos, apoiando o uso de novas tecnologias (como celulares, câmeras portáteis) e conceitos de narrativa, edição, som e imagem.</p>

  <p>Entre 1991 e 2007, eram recebidos cerca de mil vídeos por ano - por correios - provenientes de mais de 40 países. A curadoria exibia cerca de 5% do material coletado em mostras ao redor do país. </p>

  <p>Em 2005, o Festival do Minuto iniciou o processo para se tornar permanente. Em 2007, ele se tornou totalmente online: os realizadores já podiam enviar seus vídeos pela internet e assisti-los em nosso portal. Desde então, o acervo do Festival se expandiu em mais de 500%.  Para isso, todos os meses são lançados diversos temas para que os usuários possam se inspirar na criação de conteúdos. </p>

  <p>Além disso, anualmente, é realizada a Rede Melhores Minutos. Nela, são exibidos os melhores vídeos do ano em mais de 250 pontos culturais distribuídos no Brasil: cineclubes, bibliotecas, escolas, universidades, museus de imagem e som, entre outros. </p>

  <p>No campo da educação, o Festival oferece oficinas de formação audiovisual para professores e alunos da rede pública. Além disso, se compromete na divulgação do trabalho de estudantes universitários que buscam no audiovisual formas para se comunicar e expor suas ideias. </p>

  <p>Atualmente, possuímos um acervo de mais de 35 mil vídeos, distribuídos em diversas mostras temáticas. Diretores como a Anna Muylaert, Fernando Meirelles, Tatá Amaral e Beto Brant já passaram pelo Festival.</p>

  <p>Em 2016, o Festival lança uma nova fase, com uma nova identidade visual, um portal mais moderno e novidades como geolocalização de vídeos e desafios de linguagem. Além disso, adotou a licença Creative Commons como padrão para disponibilizar o acervo e o próprio sistema do site.</p>
</div>
