<div style="padding: 10px;">
  <h4>About the One Minute Festival: </h4>

  <p>Created in 1991, the One Minute Festival works with the selection of moving images - from amateurs to professionals - to exercise synthesis in works up to 60 seconds. It was the the first of its kind, inspiring similar festivals in over than 50 countries.</p>

  <p>During its existence, the Festival followed the new technologies (like mobiles and portable cameras). Moreover, transformation of concepts about narratives, editing, sound and image.</p>

  <p>Between 1991 and 2007, we received about 1000 videos each year - by mailing - from more than 40 countries. Our curatorship used to show only about 5% of this material.</p>

  <p>In 2005, the Festival started the process to become online. In 2007 all filmmakers could send their works in our website. Since then, our archive growed more than 500% . For this, every month we released new themes to inspire new contents.</p>

  <p>Besides that, every year, we realize the Best Minutes Exhibition. We show the best videos of the previous year in more than 250 cultural spaces here in Brazil: museums, universities, libraries, schools, theaters.  </p>

  <p>In the education field, the Festival works with filmmaking formation to students and teachers of the public system. Moreover, we are committed to promote works from university students who want to communicate and express by audio and video. </p>

  <p>Nowadays, we have more than 35.000 videos from different themes. Directors such Anna Muylaert, Fernando Meirelles, Tatá Amaral and Beto Brant had been here too.
  </p>

  <p>In 2016, the Festival started a new moment, with a new visual ID, a new website with geo localization and language challenges. Beyond that, we adopted the Creative Commons as standard to our archive and system. </p>
</div>
