<div style="padding: 10px;">
  <h4>Fale conosco!</h4>

  <p> Para conversar com a gente ou tirar alguma dúvida, mande um e-mail para:
  <a href="contato@festivaldominuto.com.br">contato@festivaldominuto.com.br</a>.</p>

  <p>Se deseja participar da rede anual de exibição do Festival do Minuto, entre em contato com:
  <a href="redeminuto@festivaldominuto.com.br">redeminuto@festivaldominuto.com.br</a>.</p>
</div>
