<div style="padding: 10px;">
  <h4>About Creative Commons:</h4>

  <p>Um Minuto Produções Culturais Eireli adopts the licenses Creative Commons by standard. The user may decide which one it will use in each content sent to the Festival, among which:</p>

  <p><strong><a href="https://creativecommons.org/licencas/">Attribution – CC BY</a>:</strong> This license allows others to distribute, remix, adapt and create based on your work, even for commercial purposes, provided that they attribute to you the due credit for the original creation;</p>

  <p><strong><a href="https://creativecommons.org/licencas/">Attribution – Shares Equally – CC BY-S</a>:</strong> This license allows others to remix, adapt and create based on your work, even for commercial purposes, provided that they attribute to you the due credit and that they license the new creations under identical terms. All of the new works based on yours shall have the same license, therefore, any works related will also allow for commercial use;</p>

  <p><strong><a href="https://creativecommons.org/licencas/">Attribution – No Derivations – CC BY-ND</a>:</strong> This license allows the redistribution, commercial or not, provided that the work is distributed with no change and in whole, with credit attributed to you;</p>

  <p><strong><a href="https://creativecommons.org/licencas/">Attribution – Non-Commercial – CC BY-NC</a>:</strong> This license allows others to remix, adapt and create based on your work for non-commercial purposes, and although the new works have to attribute the due credit to you and may not be used for commercial purposes, the users do not have to license these works derived under the same terms;</p>

  <p><strong><a href="https://creativecommons.org/licencas/">Attribution – Non-Commercial – Shares Equally – CC BY-NC-SA</a>:</strong> This license allows others to remix, adapt and create based on your work, for non-commercial purposes, provided that they attribute to you the due credit and that they license the new creations under identical terms;</p>

  <p><strong><a href="https://creativecommons.org/licencas/">Attribution – No Derivations – No Derivatives – CC BY-NC-ND</a>:</strong> This is the most restrictive of the six main licenses, only allowing others to download your works and share them provided that they attribute the credit to you, but without the possibility of altering them in any way or use them for commercial purposes;</p>

  <p>The Festival do Minuto adopts license  "Attribution – No Derivations – No Derivatives – CC BY-NC-ND" as standard. In case you want to use another kind of license, you shall enter the user page and choose the video and the license you wish to use.</p>
</div>
