<div style="padding: 10px;">
  <h4>Sobre o Creative Commons:</h4>

  <p>O Festival do Minuto adota por padrão as licenças Creative Commons. O usuário poderá decidir qual licença irá utilizar em cada conteúdo enviado para o Festival, dentre as quais:</p>

  <p><strong><a href="https://br.creativecommons.org/licencas/">Atribuição - CC BY</a>:</strong> Esta licença permite que outros distribuam, remixem, adaptem e criem a partir do seu trabalho, mesmo para fins comerciais, desde que lhe atribuam o devido crédito pela criação original;</p>

  <p><strong><a href="https://br.creativecommons.org/licencas/">Atribuição-Compartilha Igual - CC BY-S</a>:</strong> Esta licença permite que outros remixem, adaptem e criem a partir do seu trabalho, mesmo para fins comerciais, desde que lhe atribuam o devido crédito e que licenciem as novas criações sob termos idênticos. Todos os trabalhos novos baseados no seu terão a mesma licença, portanto quaisquer trabalhos derivados também permitirão o uso comercial;

  <p><strong><a href="https://br.creativecommons.org/licencas/">Atribuição-Sem Derivações - CC BY-ND</a>:</strong> Esta licença permite a redistribuição, comercial e não comercial, desde que o trabalho seja distribuído inalterado e no seu todo, com crédito atribuído a você;</p>

  <p><strong><a href="https://br.creativecommons.org/licencas/">Atribuição-Não Comercial - CC BY-NC</a>:</strong> Esta licença permite que outros remixem, adaptem e criem a partir do seu trabalho para fins não comerciais, e embora os novos trabalhos tenham de lhe atribuir o devido crédito e não possam ser usados para fins comerciais, os usuários não têm de licenciar esses trabalhos derivados sob os mesmos termos;</p>

  <p><strong><a href="https://br.creativecommons.org/licencas/">Atribuição-Não Comercial-Compartilha Igual - CC BY-NC-SA</a>:</strong> Esta licença permite que outros remixem, adaptem e criem a partir do seu trabalho para fins não comerciais, desde que atribuam a você o devido crédito e que licenciem as novas criações sob termos idênticos;</p>

  <p><strong><a href="https://br.creativecommons.org/licencas/">Atribuição-Sem Derivações-Sem Derivados - CC BY-NC-ND</a>:</strong> Esta é a mais restritiva das seis licenças principais, só permitindo que outros façam download dos seus trabalhos e os compartilhem desde que atribuam crédito a você, mas sem que possam alterá-los de nenhuma forma ou utilizá-los para fins comerciais;</p>

  <p>Ao ser enviado, o seu vídeo fica automaticamente na "Atribuição-Sem Derivações-Sem Derivados - CC BY-NC-ND". Entretanto, você pode mudar a opção na sua página de usuário. </p>
</div>
