<div style="padding: 10px;">
  <h4>Education:</h4>

  <p>The One Minute Festival also works with audio and video formation, encouraging filmmaking in public schools around Brazil.</p>

  <p>To know more, access <a href="http://www.minutoescola.com.br">www.minutoescola.com.br</a>. </p>
</div>
