<div style="padding: 10px;">
  <h4>Educação e Minuto Escola:</h4>

  <p>O Festival do Minuto realiza diversas ações educacionais, fomentando o audiovisual em escolas públicas ao redor do Brasil. </p>

  <p>Em 2010 e 2011, foram realizados o Minuto Escola no estado de São Paulo, com o apoio da Secretaria  Estadual de Educação. Professores e alunos produziram vídeos para o Festival, com o apoio de um material exclusivo com dicas e aulas sobre a linguagem audiovisual.</p>

  <p>O Minuto Escola também ocorreu em Tocantins, no ano de 2012, recebendo diversos trabalhos de escolas e comunidades indígenas.</p>

  <p>Já em 2016, o Minuto fechou parceria com a Secretaria Municipal de Educação de São Paulo e com a SPCine para o desenvolvimento de ações para a formação de professores nos CEUs da cidade. </p>

  <p>Para saber mais, acesse <a href="http://www.minutoescola.com.br">www.minutoescola.com.br</a> ou envie um e-mail para <a href="contato@festivaldominuto.com.br">contato@festivaldominuto.com.br</a>. </p>
</div>
