<p>
Entre os dias 22 e 28 de maio será realizada a Rede de Exibição dos Melhores Minutos de 2016. Recebemos milhares de vídeos em mais de vinte concursos, com destaque para os concursos <a href="https://www.youtube.com/playlist?list=PLEYDwvJOvS4eA1cbR7DSQVXSiebsPxzdv">Mapas Sonoros da Cidade</a> e <a href="https://www.youtube.com/playlist?list=PLEYDwvJOvS4eG82Hnup41N5m-0RLBSi2T">Fazer Cinema</a>.As inscrições são gratuitas e já estão abertas no site até o dia 10 de maio. Qualquer equipamento cultural (biblioteca, escola, universidade, ponto de cultura, unidades do SESC, etc.) pode participar e programar as exibições em seus espaços. As exibições devem ser obrigatoriamente gratuitas. O Festival Minuto disponibiliza o material de divulgação digital para as instituições interessadas na participação.Além da mostra Melhores Minutos de 2016, foi preparada uma seleção especial de animações para o público infantojuvenil e uma mostra de filmes produzidos por estudantes universitários.<strong><a href="https://goo.gl/forms/r5AB032RWxkh3jqF2">Inscreva-se já! </a></strong>
</p>
