<div style="padding: 10px;">
  <h4>Exiba o Minuto:</h4>

  <p>A melhor forma de exibir o Festival do Minuto em sua  cidade é participando da nossa rede de exibição. Uma vez por ano, conectamos mais de 300 pontos culturais ao redor do Brasil na exibição da Mostra Melhores Minutos. Além disso, disponibilizamos mostras específicas de temas que chamaram a atenção de nossa curadoria. </p>

  <p>Para participar da rede, envie um e-mail para <a href="redeminuto@festivaldominuto.com.br">redeminuto@festivaldominuto.com.br</a>.</p>

  <p>Caso tenha o interesse em exibir algum conteúdo específico que encontrou em nosso site ou alguma mostra de anos anteriores ao corrente, nos envie um e-mail para <a href="contato@festivaldominuto.com.br">contato@festivaldominuto.com.br</a>. </p>
</div>
