<div style="padding: 10px;">
  <h4>Dúvidas frequentes:</h4>

  <strong>1. Como faço para enviar o meu conteúdo? </strong>
  <p>Para enviar o seu vídeo, você deve realizar o cadastro completo em nosso site. Após confirmar o cadastro pelo e-mail, você deverá logar em nosso site e entrar na opção "enviar conteúdo" no menu. Você também deve concordar com o nosso termo de serviço e regulamento.</p>

  <strong>2. Como faço para incluir o meu conteúdo no mapa?</strong>
  <p>Para incluir o seu conteúdo no mapa, você deve marcar a opção "o tema do vídeo é sobre uma cidade ou local específico?" no campo de envio. O vídeo será incluído no CEP determinado.</p>

  <strong>3. Meu vídeo pode ser enviado para mais de um tema ao mesmo tempo?</strong>
  <p>Sim. Você pode enviar o seu vídeo para mais de um concurso ao mesmo tempo. </p>

  <strong>4. Por que existem vídeos maiores que 63 segundos no site?</strong>
  <p>Alguns vídeos foram digitalizados quando o Festival se tornou online. Nesse processo, acabamos deixando alguns vídeos com vinhetas iniciais ou finais do próprio Minuto, o que aumenta a duração. Além disso, as mostras, algumas vinhetas e vídeos do tema "Como eu fiz meu minuto" podem durar mais que um minuto.</p>

  <strong>5. Qual a duração máxima dos vídeos?</strong>
  <p>A duração máxima dos vídeos é de 60 segundos, já incluindo créditos. O sistema tem uma tolerância de até 3 segundos.</p>

  <strong>6. Qual o tamanho máximo do arquivo que posso enviar?</strong>
  <p>O tamanho máximo é de 500MB, tamanho considerado superior à maioria dos vídeos de um minuto de duração já em HD.</p>

  <strong>7. Enviei um vídeo e ele não apareceu no site. O que devo fazer?</strong>
  <p>Se depois de 10 dias seu vídeo não aparecer no site, envie um e-mail para contato@festivaldominuto.com.br informando a data de envio, o nome do arquivo e o seu endereço de e-mail. Verifique se você não usou músicas ou imagens de terceiros sem as autorizações apropriadas.</p>

  <strong>8. O meu vídeo demora muito para ser enviado. O que devo fazer?</strong>
  <p>A demora no envio de um vídeo tem direta relação com o tamanho do arquivo e a velocidade de sua Internet. </p>

  <strong>9. Posso usar qualquer música, só citando o artista/compositor?</strong>
  <p>Não necessariamente. Leia o tópico 10 para mais informações.<p>

  <strong>10. Como saber se a música que inclui no conteúdo pode ser utilizada?</strong>
  <p>Músicas possuem dois tipos de direito: o direito do autor (ou seja, o direito de quem compôs a música) e o direito de utilização do fonograma (ou seja, o direito de quem executou a música). Para utilizar músicas em seu vídeo, você deve ter ambos os direitos através de uma autorização por escrito do titular do direito autoral (quem fez a música) e uma autorização por escrito do titular dos direitos de execução (quem toca a música).</p>
  <p>Você também pode criar suas próprias faixas para o seu vídeo ou utilizar alguma música que possua licença livre. Sites como o Musopen, Archive.org, Freesound.org, Free Music Archive e incompetech.com possuem um riquíssimo acervo, só lembre-se que a licença deve permitir redistribuição e/ou adaptação.</p>
  <p>Não esqueça de sempre citar os créditos do áudio utilizado. </p>

  <strong>11. Posso usar qualquer imagem, só citando o artista?</strong>
  <p>Não necessariamente. Leia o tópico 12 para mais informações.</p>

  <strong>12. Como saber se a imagem que inclui no meu conteúdo pode ser utilizada?</strong>
  <p>Para utilizar uma fotografia ou uma imagem em movimento feita por outra pessoa, você deve ter uma autorização por escrito do titular dos direitos da imagem. Se não tiver essa autorização, você não pode utilizar a imagem. Assim, capte suas próprias imagens ou peça uma autorização para a pessoa que a fez.</p>
  <p>Atualmente, existem diversos tipos de licenças que permitem a utilização gratuita de imagens. Esse é o caso de imagens licenciadas através do Creative Commons – Atribuição (by), que exige que você simplesmente cite quem fez a imagem.</p>
  <p>Também não se esqueça de pedir autorizações para as pessoas que atuarem ou participarem do filme. Essa é uma garantia para você de que ninguém irá reclamar de ter participado do filme quando o filme estiver sendo veiculado!</p>

  <strong>13. Recebi um e-mail pedindo para esclarecer o conteúdo do vídeo. Como proceder?</strong>
  <p>Se você recebeu um e-mail avisando que seu vídeo pode conter conteúdo protegido por direitos autorais, siga as instruções do e-mail ou veja os tópicos 10 e 12 acima.<p>

  <strong>14. Como os vídeos são avaliados?</strong>
  <p>O processo de avaliação de vídeos no site é feito pela equipe de curadores do Festival do Minuto. Os vídeos são avaliados nos requisitos ideia, narrativa, imagem e som. </p>
  <p>Em determinados concursos, poderá haver uma seleção especial por parte de um júri convidado. Quando ocorrer, os realizadores serão notificados. </p>
  <p>Vídeos que tiverem imagens ou sons de terceiros são bloqueados, porém o realizador será avisado e poderá se justificar ou trocar o conteúdo.</p>

  <strong>15. Como sei a nota que a curadoria deu para o meu vídeo?</strong>
  <p>Após o julgamento pela equipe de curadoria do Festival do Minuto, o autor do vídeo recebe uma mensagem dizendo que ele já foi publicado no site e a nota que ele recebeu. Apenas os conteúdos com nota de destaque (4 ou 5) são visualizados com um relógio abaixo do player no site.</p>
  <p>O usuário também pode visualizar a nota do seu vídeo no seu perfil, em nosso site.</p>

  <strong>16. Se meu vídeo não receber nota destaque, ele aparece no site do Festival?</strong>
  <p>Todos os vídeos enviados serão inseridos no site. Seu vídeo só não estará no site se você tiver usado música ou imagens sem autorização ou se ele infringir os Termos de Uso e Serviço do site ou o Regulamento do Festival do Minuto.</p>

  <strong>17. Qual a diferença entre o voto do júri (relógios) e o voto popular (estrelas)?</strong>
  <p>A nota em estrelas corresponde ao voto do público. A nota em relógios corresponde à média da nota da curadoria, alcançada após o processo de análise e julgamento do vídeo.</p>

  <strong>18. Como fico sabendo se fui premiado?</strong>
  <p>Os prêmios são divulgados no site e nas mídias sociais do Festival do Minuto, além de e-mails enviados para os usuários premiados. </p>

  <strong>19. Como faço para receber o prêmio? </strong>
  <p>O usuário premiado será notificado, por e-mail, sobre os procedimentos para receber o prêmio.</p>

  <strong>20. Como são decididos os vídeos premiados?</strong>
  <p>Os vídeos premiados são escolhidos pelo júri do Festival e - em ocasiões especiais previamente estabelecidas - por um corpo de jurados externo. Somente vídeos classificados com 4 ou 5 estrelas entram na competição para o prêmio. </p>

  <strong>21. Quais os formatos de vídeo aceitos pelo festival?</strong>
  <p>Os formatos de arquivos aceitos para o envio dos vídeos são .mov, .mp4, .mp4v, .divx, .xvid, .avi e .h264.
  Caso possível, envie o vídeo em .mov ou .mp4, na janela 16x9 e em full HD (1920x1080), com no máximo 500MB.</p>

  <strong>22. Como me cadastro no site de vocês?</strong>
  <p>Você pode se cadastrar no site usando o seu e-mail ou o Facebook, no menu cadastro. Para comentar e votar, é necessário somente a inserção do e-mail, senha e a verificação do e-mail. Para o envio de conteúdos, é necessário preencher todo o perfil. </p>

  <strong>23. Como sei se meu vídeo será exibido em alguma mostra?</strong>
  <p>Ao ter seu vídeo incluído em alguma mostra do Festival, o realizador será notificado por e-mail. </p>

  <strong>24. Não consigo acessar o site, como devo proceder?</strong>
  <p>Caso o site esteja fora do ar, verifique a sua conexão com a internet. Fique atento para não deixar para enviar o seu conteúdo no último dia do concurso, pois geralmente há uma maior movimentação do site. </p>
</div>
