<div style="padding: 10px;">
  <h4>Frequently asked questions:</h4>

  <strong>1. How to send a video? </strong>
  <p>To send your video, you need to fill your registration. After confirm it in your e-mail, you have to access our site and select the option "send content" in our menu. You should accept our term of service and regulation.
  </p>

  <strong>2. How to include my content in the map?</strong>
  <p>To include your content in the map, you should select the option "the video is about a city or specific location?" in the registration form. The video will be inserted in the ZIP code that you fill. </p>

  <strong>3. Can I send my video for more than a theme at the same time?</strong>
  <p>Yes, you can send it. </p>

  <strong>4. Why there are videos longer than 63 seconds in the website?</strong>
  <p>Some videos were digitized when we became online. In this process, we left some titles of our own. Moreover, some trailers and videos from "How I made my minute" can be longer than one minute. </p>

  <strong>5. What is the maximum length of the videos?</strong>
  <p>The maximum length is of 60 seconds, including credits and titles. Our system has a tolerance of 3 seconds. </p>

  <strong>6. What is the maximum size of my file?</strong>
  <p>The maximum size is 500 MB, which is enough for and one minute HD video.</p>

  <strong>7. I sent a video and it did not appeared online. What I need to do?</strong>
  <p>If after 10 days your video do not appear in our website, sent us a e-mail to <a href="contato@festivaldominuto.com.br">contato@festivaldominuto.com.br</a>. Don't forget to include the sending date, the title and your e-mail address. Certify yourself that you did not use soundtrack and images that break with licenses. </p>

  <strong>8. My video is delaying to be sent. What I should do?</strong>
  <p>The time to send your video is related to the size of the file and to your Internet speed.</p>

  <strong>9. Can I use whatever music, just crediting the artist?</strong>
  <p>No. Read the next topic.<p>

  <strong>10.  How do I know that the soundtrack that I included can be used?</strong>
  <p>Tracks have two kinds of rights: the author one (the composer) and the phonogram one (the one who executed the track). To use tracks in your video, you should have the licenses from both sides.</p>
  <p>You can also create your very own tracks or use a free license one. Websites like Musopen, Archive.org, Freesound.org, Free Music Archive and incompetech.com are filled with options.</p>
  <p>Don't forget to credit every sound you use.</p>

  <strong>11. Can I use whatever image, just crediting the artist?</strong>
  <p>No. Read the next topic.</p>

  <strong>12. How do I know that the image that I included can be used?</strong>
  <p>To use an image or video made by other person, you have to get its rights. If you do not have it, do not use them. So, use your own images or ask for the owner of the images.</p>
  <p>There are also lots of images with open licenses. It's the case of Creative Commons licensed images. </p>
  <p>Moreover, do not forget to ask everyone that act and worked in your video to sign an authorization. This is a guarantee that nobody will complain about the video after being done.
  </p>

  <strong>13. I received an e-mail asking about my video content. What to do?</strong>
  <p>If you receive an e-mail about license rights, follow its instructions or read topic 10 and 12 of this page.<p>

  <strong>14. How videos are valued? </strong>
  <p>The evaluation is made by the One Minute Festival jury. Idea, narrative, image and sound are the four main topics.</p>
  <p>In some themes, we have an external jury to select some of the videos. When it happens, we put in the theme regulation. </p>
  <p>Videos with problems about licenses and rights are blocked. In these cases, we allow the filmmaker to change the content. </p>

  <strong>15. How do I know the score gave by the jury to my video?</strong>
  <p>After watching it by our jury, the filmmaker receive a message about the score. Only highlighted contents (4 or 5) can be seen with a clock below its player. </p>

  <strong>16.  If my video is not highlighted, it appears on the website?</strong>
  <p>Yes, all videos are showed in our website. But, if you infringe license or rights in our regulation, it will be banned.</p>

  <strong>17. What the difference between jury vote (clock) and popular vote (stars)?</strong>
  <p>The star vote is our public score. The clock score is the average of our jury, after the evaluation. </p>

  <strong>18. How do I know if I was awarded?</strong>
  <p>Our awards are announced on our website and social media. Moreover, we send e-mails to the filmmakers.</p>

  <strong>19. How do I receive the prize? </strong>
  <p>The filmmaker will be notified by e-mail, with instructions. </p>

  <strong>20. How the award-winning videos are selected?</strong>
  <p>The award-winning videos are choosed by our jury and, in special cases, by an external one. Only highlighted videos (4 and 5 stars) are up to the prize. </p>

  <strong>21.  What are the video formats accepted?</strong>
  <p>We accept videos in  .mov, .mp4, .mp4v, .divx, .xvid, .avi and .h264. If possible, send us in .mov or .mp4, full HD. </p>

  <strong>22. How can I sign in the website?</strong>
  <p>You can sign in using your e-mail or Facebook. To comment and vote, you will only need the e-mail, password and verification. To send us content, you'll have to fill all the profile. </p>

  <strong>23. How do I know that my video will be showed in an exhibition?
  </strong>
  <p>When we put a video in a special exhibition, we notify the filmmaker. </p>

  <strong>24.  I can not access the website, what should I do?</strong>
  <p>If the website is offline, check out your internet connection. Try to send your video before deadline, when normally our website gets more busy.</p>
</div>
