<div style="padding: 10px;">
  <h4>Direitos autorais de imagem:</h4>

  <p>Para utilizar uma fotografia ou uma imagem em movimento feita por outra pessoa, você deve ter uma autorização por escrito do titular dos direitos da imagem. Se não tiver essa autorização, você não pode utilizar a imagem. Assim, capte suas próprias imagens ou peça uma autorização para a pessoa que a fez.</p>

  <p>Atualmente, existem diversos tipos de licenças que permitem a utilização gratuita de imagens. Esse é o caso de imagens licenciadas através do Creative Commons – Atribuição (by), que exige que você simplesmente cite quem fez a imagem. </p>

  <p>Também não se esqueça de pedir autorizações para as pessoas que atuarem ou participarem do filme. Essa é uma garantia para você de que ninguém irá reclamar de ter participado do filme quando o filme estiver sendo veiculado!</p>

  <p>Sites como o Vimeo e o Flirck podem ser uma ótima fonte de imagens gratuitas, mas lembre-se de verificar por conteúdo.</p>
</div>
