<div style="padding: 10px;">
  <h4>Image licenses:</h4>

  <p>To use an image or video made by other person, you have to get its rights. If you do not have it, do not use them. So, use your own images or ask for the owner of the images.</p>

  <p>There are also lots of images with open licenses. It's the case of Creative Commons licensed images. </p>

  <p>Moreover, do not forget to ask everyone that act and worked in your video to sign an authorization. This is a guarantee that nobody will complain about the video after being done. </p>

  <p>Sites like Vimeo and Flirck are a great font to free images, but remember to verify each content. </p>
</div>
