<div style="padding: 10px;">
  <h4>Direitos autorais de trilha sonora:</h4>

  <p>Músicas possuem dois tipos de direito: o direito do autor (ou seja, o direito de quem compôs a música) e o direito de utilização do fonograma (ou seja, o direito de quem executou a música). Para utilizar músicas em seu vídeo, você deve ter ambos os direitos através de uma autorização por escrito do titular do direito autoral (quem fez a música) e uma autorização por escrito do titular dos direitos de execução (quem toca a música).</p>

  <p>Você também pode criar suas próprias faixas para o seu vídeo ou utilizar alguma música que possua licença livre. Sites como o Musopen, Archive.org, Freesound.org, Free Music Archive e incompetech.com possuem um riquíssimo acervo, só lembre-se que a licença deve permitir redistribuição e/ou adaptação.</p>

  <p>Lembre-se também que o seu vídeo não precisa ter música. Você pode explorar apenas sons e silêncios. </p>

  <p>E não esqueça de sempre citar os créditos dos áudios utilizado. </p>
</div>
