<div style="padding: 10px;">
  <h4>Soundtrack licenses:</h4>

  <p>Tracks have two kinds of rights: the author one (the composer) and the phonogram one (the one who executed the track). To use tracks in your video, you should have the licenses from both sides. </p>

  <p>You can also create your very own tracks or use a free license one. Websites like Musopen, Archive.org, Freesound.org, Free Music Archive and incompetech.com are filled with options.</p>

  <p>Also, you don't need to use a soundtrack in your video. You can explore sounds and silences too. </p>

  <p>Don't forget to credit every sound you use.</p>
</div>
