<div style="padding: 10px;">
  <h4>Sponsorship and Partnership:</h4>

  <p>The One Minute Festival is financed by sponsorship. Moreover, we are always in search of new ideas and projects with institutions that is linked with filmmaking. If your bussiness or organization want to propose a theme, send us a message:</p>

  <p><a href="contato@festivaldominuto.com.br">contato@festivaldominuto.com.br</a></p>
</div>
