<div style="padding: 10px;">
  <h4>Patrocínio e parceria:</h4>

  <p>O Festival do Minuto é financiado via leis de incentivo fiscal. Além do patrocínio, buscamos sempre novas ideias e projetos com instituições ligadas de alguma forma ao audiovisual. Se a sua empresa ou organização possui o interesse de propor uma parceria ou patrocinar um tema, entre em contato conosco para mais informações:</p>

  <p><a href="contato@festivaldominuto.com.br">contato@festivaldominuto.com.br</a></p>
</div>
