<div style="padding: 10px;">
            <p>Festival do Minuto (One Minute Festival)'s Rules and Regulations</p>
<p>Considering that:</p>
<p>(i) Festival do Minuto ("the Festival") is a festival of videos up to 60 seconds-long, whose trademark was registered at the Instituto Nacional da Propriedade Industrial - <span class="caps">INPI</span> (Brazil's National Institute of Industrial Property), by Um Minuto Marketing e Produções Culturais Ltda (<span class="caps">CNPJ</span> 66.708.900.0001-04), thereby granting it the exclusive right to hold the Festival in Brazil and in all other countries;</p>
<p>(ii) Um Minuto Marketing e Produções Culturais Ltda makes available to the Festival's users a website on the Internet, at the address www.festivaldominuto.com.br, which is part of the services offered by the Festival;</p>
<p>(iii) At the www.minuteplanet.com website ("the Website"), visitors have access to the Festival's Rules, as well as to its and Terms of Use and Service. After accepting both sets of terms and conditions, visitors may register at the Website. The registration is formalized by filling the registration form and/or by sending the files and videos through the Website;</p>
<p>(iv) By registering at the Website, visitors formally become registered users ("Registered Users") of the Website (Registered Users and Visitors are collectively referred to as "Users");</p>
<p>(v) Users are solely responsible for the information and other content they post and for the videos - including images, sounds or any other content - they send, which should be authored by them or under their legal responsibility;</p>
<p>(vi) By the website www.festivaldominuto.com.br it is encompassed this internet address as well as all internet domains and addresses related to the service offered by Festival do Minuto (One Minute Festival), such as: www.escoladominuto.com.br, www.oneminutefestival.com or other portal that may be created.</p>
<p>(vii) The Festival is also known by other names, such as Planeta Minuto, 1 Minuto, Um Minuto, One Minute Planet, Minute Planet, One Minute;</p>
<p>(viii) The Festival is organized and coordinated by its Curators Committee ("the Committee"), which is entitled to make all creative and administrative decisions concerning the Festival and all related services and events;</p>
<p>(ix) The Committee's role is to select, organize and evaluate all content sent to the website, according to its own artistic criteria.</p>
<p>(x) Content is a work conducted in any kind of media, including video, audio, image, picture and text.</p>
<p>1. By registering at the Festival, Users automatically accept the present Terms of Use and Service and attests that they are entirely capable of accepting the Terms of Use and Service, either by being 18 years of age or more or by having been duly authorized to do so by his or her legal representative.</p>
<p>1.1. The Festival may change and/or update the Terms of Use and Service at any moment, without previous warning. It is the sole responsibility of Users to know the most recent version of the Terms of Use and Service, which is available at the Website.</p>
<p>1.2 By filling the registration form and/or sending movies to the Festival, the User automatically accepts the Festival's Rules (see Appendix below). Users automatically accept the present Rules and 	attests that they are entirely capable of accepting the Rules, either by being 18 years of age or more or by having been duly authorized to do so by his or her legal representative.</p>
<p>The Festival may change and/or update the Rules at any moment, without 	previous warning. It is the sole responsibility of Users to know the most recent version of the Rules, which is available at the Website.</p>
<p>2. About the services offered at the Website: </p>
<p>2.1. The services offered to Users at the Website include:</p>
<p>a) The sending and sharing of videos, images and texts;</p>
<p>b) The possibility of watching and reading materials and messages produced by Users, which solely reflect the opinions of these Users and not of the Festival or of its legal representatives;</p>
<p>c) The possibility of sending and receiving messages by e-mail, <span class="caps">RSS</span> feed or through the personal pages of Registered Users;</p>
<p>d) The possibility of clicking on links to third party websites which may offer 	additional services to the Users. In these cases, the User must acquaint himself or herself with the terms of service of each one of the external 	websites, since they do not have a direct relationship with the services offered by the Festival;</p>
<p>e) Making contents sent by Users to the Festival's Website available to the 	Festival's partner channels and websites.</p>
<p>2.2. About the Festival:</p>
<p>The contents sent may have the inclusion of a vignette of the Festival and/or of its sponsor, and are then organized in categories and themes within the website 				www.festivaldominuto.com.br, according to the organization criteria.</p>
<p>The contents registered will be evaluated by the curators committee of the Festival and the ones with greater evaluation shall receive the minuto trophy, according to the categories or themes in which they were registered or, depending on the case, according to the categories or themes attributed to it by the curatorship of the Festival.</p>
<p>Exceptionally, there may be awards in money or in kind, informed on the contest’s hostsite.</p>
<p>The Festival Minuto may, unilaterally, refuse the inclusion of contents on the website festivaldominuto.com.br as well as remove any content, at any time, that do not comply with copyrights, with the Brazilian Criminal Code, and with the legislation in force.</p>
<p>3. User's responsibilities:</p>
<p>By sending a video to the Festival through the Website, the User 	represents and warrants that that he or she is the owner of all rights and licenses necessary to exhibit the video, which include but are not limited 	to:</p>
<p>a) The right(s) to use and exhibit images and sounds of persons, places or 	things that appear in the content;</p>
<p>b) The right(s) to use and exhibit the music used in the video;</p>
<p>c) The right(s) to use and exhibit written texts which appear in the content;</p>
<p>d) Rights relating to the script of the video and rights relating to texts or materials that have served as inspiration to the video;</p>
<p>e) The right(s) to use and exhibit archive and/or third party images that appear in the contente;</p>
<p>f) Patent or license rights to use third party information;</p>
<p>g) Any other intellectual rights that may prevent the commercial or non-commercial exhibition of the content.</p>
<p>3.1. Users represent and warrant that:</p>
<p>a) They will not send any content that is unlawful, threatening, harassing, profane, tortious, defamatory, vulgar, obscene, libelous, deceptive, hateful, invasive of another's privacy or pornographic;</p>
<p>b) They will not violate another's privacy or disrespect others racially, ethnically, professionally or in any other way;</p>
<p>c) They will not copy or download and save a copy of another User's content without his or her authorization.</p>
<p>3.2. Limitation of liability and Indemnification:</p>
<p>The user agrees to exempt Festival do Minuto, UM <span class="caps">MINUTO</span> PRODUÇÕES <span class="caps">CULTURAIS</span> <span class="caps">EIRELI</span> and the other companies and individuals involved in the offering of the service, as well as its partners, clients and sponsors, from any losses and damages arising out of non-compliance with the Terms of Use and Service of the Regulation of the Festival do Minuto, or from losses and damages arising out of any kind of legal violation generated by the content(s) sent.</p>
<p>The user shall indemnify for losses and damages to those who claim it, in addition to indemnifying Festival do Minuto, UM <span class="caps">MINUTO</span> PRODUÇÕES <span class="caps">CULTURAIS</span> <span class="caps">EIRELI</span> and the other companies and individuals involved in the offering of the service, as well as its partners, clients and sponsors, for the damages caused.</p>
<p>3.3. Privacy:</p>
<p>The User is aware and agrees that any information or content sent to the Website are public. This means that any information, content and/or videos 	sent to the Website will be available to anyone who wants to access them.</p>
<p>The Website may make available an option of keeping private certain 	personal information given by an User during the registration process, but this option should be previously and explicitly requested by the User. If the User chooses this option, the Festival shall make reasonable efforts to respect it.</p>
<p>All the rest of the information, content and/or videos sent by the User shall remain entirely public.</p>
<p>4. Final provisions:</p>
<p> 4.1.Tolerance:</p>
<p>Tolerance in relation to the Festival's Rules and Terms of Use and Service shall not constitute a precedence for disrespecting the present agreement.</p>
<p>4.2. Jurisdiction:</p>
<p>The Festival's Rules and Terms of Use and Service are governed by the laws of the Federative Republic of Brazil.</p>
<p>The parties elect the Central Forum of the City of São Paulo (Foro Central da Comarca de São Paulo, Capital) to solve any disagreements relating to the present contract, renouncing any other fora.</p>
<p>Appendix - The Festival do Minuto (One Minute Festival)'s Rules</p>
<p>1. Who may participate:</p>
<p>1.1. People from anywhere in the world may participate in the Festival, that 	is, people who are in Brazil or any other country.</p>
<p>1.2. It is prohibited the participation of employees, collaborators, 	partners/shareholders of Um Minuto Produções Culturais <span class="caps">EIRELI</span> in the Festival do Minuto and of the other companies sponsoring Festival do Minuto, as well as its respective relatives up to 2nd degree and spouses and any other people involved directly in the execution of the Festival do Minuto.  </p>
<p>2. Video formats:</p>
<p>2.1. The videos may be made using any type of equipment that produces moving images: video cameras, digital photo cameras (photo sequences), cellular phone cameras, computers (animation) etc.</p>
<p>2.2. The file formats accepted for the sending of videos are .wmv, .mov, .mpg, .mpeg, .mp4, .m4v, .mp4v, .divx, .xvid, .avi, and .h264.</p>
<p>2.3. The Festival accepts files up to 500 Megabytes in size.</p>
<p>2.4. It is recommended the sending of HD video.</p>
<p>3. Duration of videos:</p>
<p>3.1. Videos must be at least 1 second and at most 60 seconds long, including credits. In other words, the names of the people who made the video must be exhibited within the maximum limit of 60 seconds. (The 	Festival may accept videos which exceed this limit by up to 3 seconds.)</p>
<p>4. Credits:</p>
<p>Credits are compulsory. Videos must credit those responsible for its production, including those responsible for its soundtrack 	(notwithstanding if it uses public domain material), its images and any other third party content or materials.</p>
<p>5. Amount of videos and registration: </p>
<p>5.1. There is no limit to the number of videos that may be sent by a User.</p>
<p>5.2. In order to send videos to the Festival, Users must fill in a registration f	form at the Website and accept the Festival's Rules and Terms of Use and 	Service. Registration is free of charge.</p>
<p>5.3. Besides the registration, the Festival will request additional information concerning each video sent through the Website.</p>
<p>5.4. All videos sent through the Website and which are in accordance with the present Rules shall be considered entered in the Festival.</p>
<p>6. Images:</p>
<p>6.1. Festival do Minuto also accepts photos and images in the <span class="caps">GIF</span> format in contests or specific themes.</p>
<p>6.2. The rules of item 5 are also applied herein.</p>
<p>7. Topic:</p>
<p>7.1. The user may register its content in a specific theme or category, as indicated during the online registration procedures. The inclusion of content in other themes or categories is at the discretion of the curatorship of the Festival.</p>
<p>7.2. The user may send the same file for as many contests as it wants, provided that its content contemplates the theme of the contest. The same content may only be registered in other contests within the period of the year in which the video was registered.</p>
<p>8. Awards:</p>
<p>8.1. The best contents chosen by the curatorship or by the public will receive minuto trophies at the end of each theme or contest.</p>
<p>8.2. The Festival organization may postpone or cancel the awards of categories or themes that do not obtain a great number of contents registered or at its discretion.</p>
<p>9. Deadlines:</p>
<p>9.1. There are specific deadlines for entry to compete for each topic, keyword or category award, as well as for the annual award. </p>
<p>9.2. Information about the deadlines can be found in the Website, next to the description of each topic, keyword or category award.</p>
<p>9.3. Deadlines may be extended at the discretion of the Festival's organizers.</p>
<p>10. Assignment of rights for promotion and cultural diffusion of the contents:</p>
<p>10.1.The author/producer/owner of the video grants the Festival, for 5 (five) years, automatically extended, the right and license to:</p>
<p>a) Reproduce, display and exhibit the video in journalistic programs in 	any media, with a view to promoting the Festival;</p>
<p>b) Reproduce, display and exhibit the video in cultural centers, museums and other not-for-profit cultural venues, in Brazil or in any other country;</p>
<p>c) Include the video in not-for-sale Festival catalogues - in <span class="caps">DVD</span>-form or in any form, media or technology now known or later developed - with a view to promoting the Festival;</p>
<p>d) Reproduce, display and exhibit the video in the Festival's Website or in any other website or channel of Festival's partners, with a view to promoting the Festival;</p>
<p>e) Promote the Festival do Minuto (One Minute Festival) in TVs and other media which have partnerships for the promotion of the Festival;</p>
<p>f) On the website (or in <span class="caps">DVD</span> format) in activities related to education of the Festival do Minuto, located at www.festivaldominuto.com.br or www.escoladominuto.com.br;</p>
<p>g) By accepting this agreement, the author/producer/owner of the video(s) grants his or her rights in relation to reproduction of his or her video(s) in Brazil or in any other country, except in specific cases where there is a written agreement between the author/producer/owner of the video(s) and Um Minuto Marketing e Produções Culturais Ltda;</p>
<p>h)The author/producer/owner of the video authorizes sounds to be edited 	out of his or her video(s) and credits to be reduced, if this is deemed necessary for the exhibition of the video(s) in any of the media described above;</p>
<p>i) The author/producer/owner of the video authorizes the use of a part or the total of a content to the promotion of the One Minute Festival;</p>
<p>j) In exhibitions of Mobile Minute, a mini truck of the Festival that displays the Festival's collection in public and private schools, universities, squares and public places.</p>
<p>11. Authorization to commercialize and/or distribute the videos:</p>
<p>11.1. Um Minuto Produções Culturais Eireli adopts the licenses Creative Commons by standard. The user may decide which one it will use in each content sent to the Festival, among which:</p>
<p>a) Attribution - CC BY. This license allows others to distribute, remix, adapt and create based on your work, even for commercial purposes, provided that they attribute to you the due credit for the original creation (https://creativecommons.org/licencas/).</p>
<p>b)  Attribution - Shares Equally - CC BY-S. This license allows others to remix, adapt and create based on your work, even for commercial purposes, provided that they attribute to you the due credit and that they license the new creations under identical terms. All of the new works based on yours shall have the same license, therefore, any works related will also allow for commercial use (https://creativecommons.org/licencas/).</p>
<p>c) Attribution - No Derivations - CC BY-ND. This license allows the redistribution, commercial or not, provided that the work is distributed with no change and in whole, with credit attributed to you<br />
(https://creativecommons.org/licencas/).</p>
<p>d) Attribution - Non-Commercial - CC BY-NC. This license allows others to remix, adapt and create based on your work for non-commercial 	purposes, and although the new works have to attribute the due credit to you and may not be used for commercial purposes, the users do not have to license these works derived under the same terms (https://creativecommons.org/licencas/).</p>
<p>e) Attribution - Non-Commercial - Shares Equally - CC BY-NC-SA. This license allows others to remix, adapt and create based on your work, for non-commercial purposes, provided that they attribute to you the due credit and that they license the new creations under identical terms (https://creativecommons.org/licencas/).</p>
<p>f) Attribution - No Derivations - No Derivatives - CC BY-NC-ND. This is the most restrictive of the six main licenses, only allowing others to download your works and share them provided that they attribute the credit to you, but without the possibility of altering them in any way or use them for commercial purposes (https://creativecommons.org/licencas/).</p>
<p>The Festival do Minuto adopts license “f” as standard. Attribution - No Derivations - No Derivatives - CC BY-NC-ND", in case you want to use another kind of license, you shall enter the user page and choose the video and the license you wish to use.</p>
<p>12. Authorization for commercialization and/or distribution of the contents for UM <span class="caps">MINUTO</span> PRODUÇÕES <span class="caps">CULTURAIS</span> <span class="caps">EIRELI</span></p>
<p>The participants that wish that UM <span class="caps">MINUTO</span> PRODUÇÕES <span class="caps">CULTURAIS</span> <span class="caps">EIRELI</span> be the commercial distributor of its contents shall do so by means of an option available in a specific area on the website’s user page.</p>
<p>13. Division of revenues in case of commercialization of the video:</p>
<p>13.1. It is agreed that, in case a content is commercialized, revenues shall be divided in the following manner:</p>
<p>a) The author/producer/owner of the video will have the right to 50% (fifty percent) of the net value of each deal as remuneration for the cession of all his or her rights concerning the video.</p>
<p>b) Um Minuto Marketing e Produções Culturais Ltda. will have the right to 50% (fifty percent) of the net value of each deal as remuneration for its distribution services.</p>
<p>c) ”Net value" means the gross value minus all expenses necessary for the closing of 	the deal (such as administrative costs, taxes, agent fees, copy and encoding expenses, authorizations and sub-distribution deals with other businesses). These expenses shall be detailed in rendering of accounts reports. Accounts shall be rendered annually and payments shall me made every six months, as long as the amount to be received is higher than R$ 200 (two hundred Brazilian reais). Otherwise, payment 	shall be made in the next semester. Only videos which are effectively commercialized shall merit rendering of account reports.</p>
<p>14. Termination of the contract:</p>
<p>14.1. The author/producer/owner of the video may request that his or her video is taken out of the Website. In this case, the Festival shall examine the request, but will maintain its rights to distribute and/or commercialize the video for 24 months. During this period, the author/producer/owner of the video shall maintain his or her right to receive 50 percent of the net value of the commercialization of his or her video, according to iten 13.</p>
<p>15. Duration Of The Authorization To Commercialize The Videos:</p>
<p>15.1. The authorization for commercialization of a video lasts for 5 (five) years, to be counted from the moment the video is entered at Festival do Minuto through the Website.</p>
<p>15.2. This authorization will be automatically extended for another 5 (five) years if none of the parties express interest in revoking it. If there is interest in revoking it, it should be communicated in writing up to 30 days before the end of the contract.</p>
<p>15.3. This license is valid for UM <span class="caps">MINUTO</span> <span class="caps">MKT</span> E PRODUÇÕES <span class="caps">CULTURAIS</span> <span class="caps">LTDA</span> or any successors.</p>
<p>16. Curatorship and omitted cases:</p>
<p>16.1.The curatorship and all the Festival's creative decisions, including the choice of videos to be awarded, are of exclusive responsibility of Um Minuto Marketing e Produções Culturais Ltda. or of the people, businesses or partners to which it delegates this decisions, which cannot be appealed in any case.</p>
<p>16.2. Any cases omitted in this agreement shall be decided upon by the Festival's organizers.</p>
<p> </p>
</div>
