<div style="padding: 10px;">
            <p>Termos de Uso e Serviço<br />
Regulamento do Festival do Minuto</p>
<p>Considerando que:</p>
<p>(i) O Festival do Minuto é um festival de vídeos de até 60 (sessenta) segundos, cuja marca foi registrada no Instituto Nacional da Propriedade Industrial - <span class="caps">INPI</span>, pela empresa UM <span class="caps">MINUTO</span> PRODUÇÕES <span class="caps">CULTURAIS</span> <span class="caps">EIRELI</span> (<span class="caps">CNPJ</span> 66.708.900.0001-04) o que lhe conferiu o direito exclusivo de realizar o Festival do Minuto no Brasil e no exterior;</p>
<p> (ii) A empresa disponibiliza para os participantes do Festival do Minuto um site na internet, cujo endereço é www.festivaldominuto.com.br, que é parte integrante dos serviços oferecidos pelo Festival do Minuto;</p>
<p> (iii) No referido site, os interessados têm acesso aos Termos de Uso e Serviço e ao Regulamento do Festival do Minuto. Após a aceitação dos termos e condições de ambos os regulamentos, os interessados estarão aptos à inscrição, que é formalizada com o preenchimento da ficha de inscrição e o envio, via site, dos arquivos dos vídeos, imagens e textos;</p>
<p> (iv) Feita a inscrição, cada participante passa a ser formalmente usuário do site http://www.festivaldominuto.com.br;<br />
 <br />
 (v) Os usuários do site têm responsabilidade legal sobre as informações prestadas e os vídeos - contendo imagens, sons ou qualquer outro conteúdo - enviados por eles (usuários), de sua autoria ou sob sua responsabilidade legal;</p>
<p> (vi) Por site www.festivaldominuto.com.br compreende-se este endereço de internet bem como todos os domínios e endereços de Internet relacionados com o serviço oferecido pelo Festival do Minuto, tais como: www.escoladominuto.com.br, www.oneminutefestival.com ou outros portais que venham ser criados;</p>
<p> (vii) O Festival do Minuto também é conhecido por outras denominações, tais como Planeta Minuto, 1 Minuto, Um Minuto, One Minute Planet, Minute Planet, One Minute;</p>
<p> (viii) O Festival do Minuto é organizado e coordenado por seu comitê Curador, ao qual competem todas as escolhas criativas e administrativas do Festival e dos serviços e eventos relacionados;</p>
<p> (ix) O trabalho do comitê curador é selecionar, organizar e avaliar os conteúdos enviados para o site, sob seus próprios critérios artísticos;</p>
<p>(x) Conteúdo é uma obra realizada em qualquer tipo de mídia , incluindo vídeo, áudio, imagem, foto e texto.</p>
<p> Aceitação dos Termos de Uso e Serviço:</p>
<p>1. Com o ato de inscrição no Festival do Minuto o usuário deve aceitar os presentes Termos de Uso e Serviço:</p>
<p>1.1. O usuário declara-se plenamente capaz de aceitar os Termos de Uso e Serviço, sendo maior de idade ou estando devidamente autorizado para aceitá-lo por seu responsável legal. </p>
<p>A organização do Festival do Minuto poderá alterar e atualizar os Termos de Uso e Serviço a qualquer momento, sem aviso prévio, sendo sempre responsabilidade do usuário verificar a versão mais recente, que estará disponível no site do Festival do Minuto indicado anteriormente. </p>
<p>1.2. Aceitação do Regulamento do Festival do Minuto:</p>
<p>Ao se inscrever e enviar filmes para o Festival do Minuto, o usuário aceita automaticamente o Regulamento do Festival do Minuto (ver Anexo abaixo). </p>
<p>O usuário declara-se plenamente capaz de aceitar o Regulamento do 	Festival do Minuto, sendo maior de idade ou estando devidamente autorizado para aceitá-lo por seu responsável legal. </p>
<p>A organização do Festival do Minuto poderá alterar e atualizar o Regulamento a qualquer momento, sem aviso prévio, sendo sempre responsabilidade do usuário verificar a versão mais recente, que estará disponível no site. </p>
<p>2. Sobre o serviço do site festivaldominuto.com.br:</p>
<p>2.1. Os serviços fornecidos no site www.festivaldominuto.com.br compreendem:</p>
<p> a) O envio e compartilhamento de vídeos, imagens e textos; </p>
<p>b) Disponibilização de material e mensagens produzidos pelos usuários que refletem unicamente as convicções desses usuários e não 	as convicções do Festival do Minuto ou de seus responsáveis legais; </p>
<p>c) Envio de mensagens e comunicações para os usuários cadastrados através de emails, <span class="caps">RSS</span> feed, <span class="caps">SMS</span> e de mensagens nas páginas pessoais dos usuários cadastrados;</p>
<p>d) Links para sites de terceiros que oferecem serviços adicionais aos usuários. Neste sentido, o usuário deve estar atento aos termos de serviços próprios de cada site, vez que não têm relação direta com os serviços prestados pelo Festival do Minuto; </p>
<p>e) Disponibilização dos conteúdos enviados pelo usuários para o site do Festival do Minuto para sites e canais parceiros do Festival.</p>
<p>O Festival do Minuto não garante que o serviço estará no ar em tempo integral, nem se responsabiliza por eventuais inconveniências que o não funcionamento do serviço possa causar aos usuários.  </p>
<p>2.2. Sobre o Festival do Minuto:</p>
<p>Os conteúdos enviados podem ter a inclusão de uma vinheta do 	Festival e/ou de seu patrocinador, e passam a ser organizados em categorias e temas dentro do site www.festivaldominuto.com.br, de 		acordo com os critérios da organização.</p>
<p>Os conteúdos inscritos serão avaliados pelo comitê de curadores do Festival e os mais bem avaliados receberão o troféu minuto,  de acordo com as categorias ou temas  em que foram inscritos ou, 		dependendo do caso, de acordo com as categorias ou temas que lhes forem atribuídas pela curadoria do Festival.</p>
<p>Excepcionalmente poderão haver prêmios em dinheiro ou em espécie, informados no hot site  do concurso. </p>
<p>O Festival do Minuto pode unilateralmente recusar a inclusão de 	conteúdos no site festivaldominuto.com.br bem como retirar do ar qualquer conteúdo, a qualquer tempo, que não respeite os direitos autorais, o Código Penal Brasileiro e a legislação vigente. </p>
<p>3. Responsabilidade do usuário: </p>
<p>Ao enviar um conteúdo para o Festival do Minuto, através do site www.festivaldominuto.com.br, o usuário declara expressamente e garante ser proprietário ou possuidor de todos os direitos e licenças 	necessários para a exibição do mesmo, incluindo - mas não se limitando a:</p>
<p>a) Direitos de uso de imagem e som de pessoas, lugares ou coisas que apareçam no conteúdo;</p>
<p>b) Direitos de músicas usadas como trilha sonora ou incidental no vídeo;</p>
<p>c) Direito de textos que apareçam nos conteúdos; </p>
<p>d) Direito de roteiro do vídeo, direito ou licença de textos que tenham 	servido de inspiração para o conteúdo; </p>
<p>e) Direito de imagens de arquivo que apareçam no conteúdo, quanto não estiverem em domínio publico.;</p>
<p>f) Direito de patentes ou licença para uso de informações de terceiros; </p>
<p>g) Ou quaisquer outros direitos autorais que possam impedir ou violar 	a exibição comercial ou não comercial do conteúdo. </p>
<p>3.1.O usuário se compromete a: </p>
<p>a) Não enviar nenhum conteúdo contendo imagens ou sons vulgares, 	difamatórios, preconceituosos, pornográficos ou que desrespeitem o 	Código Penal Brasileiro e a legislação vigente;</p>
<p>b) Não violar a privacidade de terceiros nem desrespeitar terceiros racial, ética, profissionalmente ou de qualquer outra forma. </p>
<p>c) Não copiar ou arquivar os conteúdos de outros usuários do serviço 	sem autorização de seus titulares. </p>
<p>3.2. Indenização:  </p>
<p>O usuário concorda em isentar o Festival do Minuto, a UM <span class="caps">MINUTO</span> PRODUÇÕES <span class="caps">CULTURAIS</span> <span class="caps">EIRELI</span> e as demais empresas e pessoas físicas envolvidas no oferecimento do serviço, bem como seus parceiros, clientes e patrocinadores, de quaisquer perdas e danos advindos do desrespeito dos Termos de Uso e Serviço e do Regulamento do Festival do Minuto, ou de perdas e danos decorridas 	de qualquer tipo de violação legal gerada pelo(s) vídeo(s) enviado(s). </p>
<p>O usuário deverá indenizar por perdas e danos a quem reclamar, além de indenizar o Festival do Minuto, a UM <span class="caps">MINUTO</span> PRODUÇÕES <span class="caps">CULTURAIS</span> <span class="caps">EIRELI</span>. e as demais empresas e pessoas físicas 	envolvidas no oferecimento do serviços, bem como seus parceiros e clientes, pelos danos causados.  </p>
<p>3.3. Privacidade:</p>
<p>O usuário está ciente e concorda que as informações e conteúdos enviados para o site www.festivaldominuto.com.br passarão a ser públicos. Isso significa que as informações e conteúdos enviados e 	publicados no site do Festival do Minuto estarão disponíveis para todos os usuários que quiserem acessá-los. </p>
<p>O site www.festivaldominuto.com.br poderá disponibilizar a opção de privacidade para algumas informações do cadastro dos usuários, mas esta opção deve ser prévia e expressamente solicitada pelo 	interessado. Caso o usuário opte por ela, o Festival do Minuto a respeitará dentro de seus melhores esforços. </p>
<p>Todo o restante das informações e conteúdos enviados continuará a ser  totalmente público. </p>
<p>4. Disposições finais:</p>
<p>4.1 Tolerância:</p>
<p>A tolerância em relação às disposições dos Termos de Uso e Serviço e do Regulamento do Festival do Minuto não constituirá precedente para desrespeito do aqui acordado. </p>
<p>4.2. Foro:</p>
<p>Os Termos e o Regulamento do Festival do Minuto são regidos pelas leis da República Federativa do Brasil. </p>
<p>As partes elegem o Foro Central da Comarca de São Paulo, Capital, para dirimir quaisquer divergências decorrentes do presente contrato, com renúncia expressa de qualquer outro, por mais privilegiado que seja. </p>
<p>Anexo Regulamento do Festival do Minuto</p>
<p>1. Quem pode participar:</p>
<p>1.1. Podem participar do Festival do Minuto pessoas de qualquer lugar  do mundo, ou seja, que estejam no Brasil ou em qualquer outro país.  </p>
<p>1.2. É vedada a participação no Festival do Minuto de funcionário(as), colaboradores(as), sócios/acionistas da Um Minuto Produções Culturais <span class="caps">EIRELI</span> e das empresas patrocinadoras do Festival 	do Minuto, bem como seus respectivos parentes até 2º grau e cônjuges e quaisquer pessoas envolvidas diretamente na execução do Festival do Minuto. </p>
<p>2. Formato dos vídeos:</p>
<p>2.1. Os vídeos poderão ser realizados em qualquer tipo de equipamento que produza imagens em movimento: câmera de vídeo, câmera de foto digital (seqüências de fotos), câmera de celular, 		animação feita no computador, etc. </p>
<p>2.2. Os formatos de arquivos aceitos para o envio dos vídeos são .wmv, .mov, .mpg, .mpeg, .mp4, .m4v, .mp4v, .divx, .xvid, .avi e .h264.</p>
<p>2.3. O tamanho máximo do arquivo a ser enviado é de 500 Megabytes. </p>
<p>2.4. É recomendado o envio do vídeo em HD.   </p>
<p>3. Duração dos vídeos:</p>
<p>3.1. Os vídeos deverão ter no mínimo 01 (hum) segundo e no máximo 60 (sessenta) segundos de duração, incluindo os créditos. Será dada 	uma tolerância de no máximo até 03 (três) segundos.</p>
<p> 4. Obrigatoriedade dos créditos nos vídeos enviados:</p>
<p>4.1. Os vídeos deverão ter créditos dos responsáveis por sua realização, incluindo créditos de trilha sonora (independentemente dela ser de domínio público ou não), de imagens e outros materiais de 	terceiros. </p>
<p>5. Quantidade de vídeos e inscrição: </p>
<p>5.1. Não há limite de vídeos a serem enviados por realizador. </p>
<p>5.2. A inscrição é gratuita, mas para que seja possível o envio de vídeos, é preciso preencher um cadastro de usuário no site www.festivaldominuto.com.br (ou em um dos endereços de internet do 	Festival do Minuto informados acima) e aceitar os Termos de Uso e Serviço, bem como o Regulamento do Festival do Minuto.  </p>
<p>5.3. Além do cadastro de inscrição, serão solicitadas informações adicionais para cada vídeo enviado. </p>
<p>5.4. Todos os vídeos enviados através do site e que estiverem de acordo com o presente Regulamento serão 	considerados inscritos no Festival do Minuto.</p>
<p>6. Imagens:</p>
<p>6.1. O Festival do Minuto também aceita fotos e imagens do formato <span class="caps">GIF</span> em concursos ou temas específicos.</p>
<p>6.2. As normas do item número 5 também é aplicado aqui. </p>
<p>7. Tema:</p>
<p>7.1. O usuário pode inscrever seus conteúdo em um tema ou categoria específicos, conforme indicado durante os procedimentos de inscrição online. Ficará a critério da curadoria do Festival a inclusão do conteúdo em outros temas ou categorias.</p>
<p>7.2. O usuário pode enviar o mesmo conteúdo para quantos concursos desejar desde que seu conteúdo contemple o tema do concurso. O mesmo conteúdo só poderá ser inscrito em outros concursos dentro no período do ano corrente em que o vídeo foi inscrito.</p>
<p>8. Premiação: </p>
<p>8.1.Os melhores conteúdos escolhidos pela curadoria ou público 	receberão troféus minuto no fim de cada tema ou concurso. </p>
<p>8.2. A organização do Festival poderá adiar ou cancelar a premiação de categorias ou temas que não obtiverem um grande número de 	conteúdos inscritos ou a seu critério.</p>
<p>9. Data limite de inscrição:</p>
<p>9.1. Existem limites de data específicos de inscrição para concorrer às premiações em cada tema ou categoria, bem como na premiação anual, que ocorre no final do ano, ou no início do ano subsequente.</p>
<p>9.2. As informações dos limites de datas podem ser encontradas junto à explicação de cada tema ou categoria.</p>
<p>9.3. A critério da organização do Festival, as datas limite podem ser prorrogadas. </p>
<p>10. Cessão de direitos para promoção e difusão cultural dos conteúdos:</p>
<p>10.1. O autor / realizador ou titular do conteúdo cede a título gratuito ao Festival do Minuto e à UM <span class="caps">MINUTO</span> PRODUÇÕES <span class="caps">CULTURAIS</span> <span class="caps">EIRELI</span> todos os direitos de seu(s) conteúdos (s) enviados ao Festival, pelo prazo de 5 (cinco) anos, prorrogáveis automaticamente por igual período, sucessivamente, para sua veiculação e difusão cultural nas seguintes modalidades:</p>
<p>a) A veiculação ou exibição em programas jornalísticos em qualquer tipo de mídia, na íntegra ou em parte, para a divulgação do Festival do Minuto;</p>
<p>b) A veiculação, exibição ou divulgação em centros culturais, museus 	e demais estabelecimentos culturais sem fins lucrativos, dentro e fora do Brasil;</p>
<p>c) Para a confecção de catálogos do Festival do Minuto em <span class="caps">DVD</span> - ou formatos que venham a substituí-lo - para divulgação e difusão cultural sem fins lucrativos;</p>
<p>d) Para promoção do Festival do Minuto no próprio site do Festival do 	Minuto e em canais de Portais ou sites de internet parceiros do Festival;</p>
<p>e) Promoção do Festival do Minuto em TVs ou outras mídias que tenham acordo de parceria para a promoção do Festival;</p>
<p>f) No site (ou em formato <span class="caps">DVD</span>) em atividades relacionadas a educação do Festival do Minuto, situado no endereço www.festivaldominuto.com.br ou www.escoladominuto.com.br;</p>
<p>g) A cessão de direitos abrange a possibilidade de reprodução no Brasil e no exterior, salvo em casos específicos, em que haja acordo 	por escrito entre o autor / realizador ou titular do vídeo e a UM <span class="caps">MINUTO</span> PRODUÇÕES <span class="caps">CULTURAIS</span> <span class="caps">EIRELI</span>;</p>
<p>h) O autor / realizador ou titular do vídeo autoriza a retirada do som, bem como a redução do tamanho dos créditos de seus vídeos, caso isso seja necessário para a exibição em qualquer uma das mídias descritas acima;</p>
<p>i) A cessão de imagem, trecho ou conteúdo integral para a divulgação exclusiva de temas, notícias e eventos do Festival do Minuto, nos portais ligados ao Festival e em mídias sociais;</p>
<p>j) Em exibições do Minuto Móvel, mini caminhão do Festival do Minuto que exibe o acervo do Festival em escolas públicas e privadas, Universidades, praças e logradouros públicos.</p>
<p>11. Autorização para comercialização e distribuição dos vídeos:</p>
<p>11.1. O Um Minuto Produções Culturais Eireli adota por padrão as licenças Creative Commons. O usuário poderá decidir qual licença irá utilizar em cada conteúdo enviado para o Festival, dentre as quais:</p>
<p>a) Atribuição - CC BY. Esta licença permite que outros distribuam, remixem, adaptem e criem a partir do seu trabalho, mesmo para fins 	comerciais, desde 	que lhe atribuam o devido crédito pela criação original. (https://br.creativecommons.org/licencas/);</p>
<p>b) Atribuição-Compartilha Igual - CC BY-S. Esta licença permite que outros remixem, adaptem e criem a partir do seu trabalho, mesmo para fins comerciais, desde que lhe atribuam o devido crédito e que licenciem as novas criações sob termos idênticos. Todos os trabalhos novos baseados no seu terão a mesma licença, portanto quaisquer trabalhos derivados também permitirão o uso 	comercial (https://br.creativecommons.org/licencas/);</p>
<p>c) Atribuição-Sem Derivações - CC BY-ND. Esta licença permite a redistribuição, comercial e não comercial, desde que o trabalho seja 	distribuído inalterado e no seu todo, com crédito atribuído a você<br />
(https://br.creativecommons.org/licencas/);</p>
<p>d) Atribuição-Não Comercial - CC BY-NC. Esta licença permite que outros remixem, adaptem e criem a partir do seu trabalho para fins não comerciais, e embora os novos trabalhos tenham de lhe atribuir o devido crédito e não possam ser usados para fins comerciais, os usuários não têm de licenciar esses trabalhos derivados sob os mesmos termos. (https://br.creativecommons.org/licencas/);</p>
<p>e) Atribuição-Não Comercial-Compartilha Igual - CC BY-NC-SA. Esta licença permite que outros remixem, adaptem e criem a partir do seu trabalho para fins não comerciais, desde que atribuam a você o devido crédito e que licenciem as novas criações sob termos idênticos (https://br.creativecommons.org/licencas/);</p>
<p>f. Atribuição-Sem Derivações-Sem Derivados - CC BY-NC-ND. Esta é 	a mais restritiva das seis licenças principais, só permitindo que outros 	façam download dos seus trabalhos e os compartilhem desde que atribuam crédito a você, mas sem que possam alterá-los de nenhuma forma ou utilizá-los para fins comerciais (https://br.creativecommons.org/licencas/);</p>
<p>O Festival do Minuto adota como padrão a licença "f. Atribuição-Sem Derivações-Sem Derivados - CC BY-NC-ND", caso você queira usar outro tipo de licença deverá entrar  na página do usuário escolher o vídeo e a licença que que usar.</p>
<p> 12. Da autorização para comercialização e/ou distribuição dos conteúdos pela UM <span class="caps">MINUTO</span> PRODUÇÕES <span class="caps">CULTURAIS</span> <span class="caps">EIRELI</span>:</p>
<p>Aqueles realizadores que desejarem que a UM <span class="caps">MINUTO</span> PRODUÇÕES <span class="caps">CULTURAIS</span> <span class="caps">EIRELI</span> seja a distribuidora comercial de seus conteúdos deverão fazer por meio de opção disponível em área específica na página do usuário no site.  </p>
<p>13. Divisão de receitas em caso de comercialização do conteúdo:</p>
<p>13.1. Fica acertada a seguinte divisão das receitas em caso de comercialização de conteúdos: </p>
<p>a) O autor / realizador ou titular do vídeo terá direito a 50% (cinquenta por cento) do valor 	líquido de cada negociação como remuneração pela cessão de todos os seus direitos sobre o(s) conteúdo(s);</p>
<p> b) A UM <span class="caps">MINUTO</span> PRODUÇÕES <span class="caps">CULTURAIS</span> <span class="caps">EIRELI</span>. terá direito a 50% (cinquenta por cento) do valor líquido de cada negociação pelos serviços de distribuição);</p>
<p>c) Por valor líquido, entende-se o valor bruto descontado de todas as despesas necessárias para a viabilização da negociação (custos administrativos, impostos, agenciamento, cópia e 	codificação, autorizações e acordos de subdistribuição com outras empresas). Estes custos serão especificados nos relatórios de prestação de contas. A prestação de contas será realizada anualmente e o pagamento semestralmente desde que o valor a ser recebido supere 	a quantia de R$ 200,00. Caso contrário, o pagamento será efetuado no semestre subsequente. Só receberão relatórios de prestação de contas os vídeos que forem efetivamente comercializados. </p>
<p>14. Rescisão do contrato:</p>
<p>14.1 O autor / realizador ou titular do conteúdo poderá solicitar a retirada de seu conteúdo do site do Festival do Minuto. Nesse caso, o Festival do Minuto avaliará a solicitação do autor, mas continuará a ter direitos sobre a comercialização e/ou distribuição do mesmo pelo prazo de 24 meses, período no qual o autor/realizador do conteúdo manterá o direito ao recebimento de 50% líquido do produto da comercialização do conteúdo, conforme itens 13 acima.</p>
<p>15. Prazo da autorização para a comercialização dos conteúdos: </p>
<p>15.1 O prazo para a comercialização dos conteúdos será de 05 (cinco) anos, contados a partir da inscrição do(s) conteúdos(s) no Festival do Minuto com o envio do seu conteúdo via site. </p>
<p>15.2. Esta autorização estará automaticamente prorrogada por mais 05 (cinco) anos caso nenhuma das partes manifeste interesse em revogá-la. Esta manifestação deverá ser feita por escrito e até 30 (trinta) dias antes do término do contrato. </p>
<p>15.3. Esta licença é valida para a UM <span class="caps">MINUTO</span> PRODUÇÕES <span class="caps">CULTURAIS</span> <span class="caps">EIRELI</span> ou seus eventuais sucessores. </p>
<p>16. Curadoria e casos omissos:</p>
<p>16.1. A Curadoria e as decisões criativas do Festival do Minuto,incluindo a escolha dos vídeos premiados, são de responsabilidade exclusiva da UM <span class="caps">MINUTO</span> PRODUÇÕES <span class="caps">CULTURAIS</span> <span class="caps">EIRELI</span>, ou das pessoas, empresas ou parceiros a quem estas decisões forem delegadas, não podendo ser questionadas em nenhuma hipótese.</p>
<p>16.2. Os casos omissos serão resolvidos pela comissão organizadora do Festival do Minuto.</p>
</div>
