# APACHE2 configuration for SSL
<VirtualHost *:443>
  ServerName {{ hostname | default('localhost') }}
  # !!! Be sure to point DocumentRoot to 'public'!
  DocumentRoot {{ deploy_app_path }}/public

  SSLEngine on
  SSLCertificateFile /usr/local/ssl/{{ ssl.src  }}/{{ ssl.files.crt }}
  SSLCertificateKeyFile /usr/local/ssl/{{ ssl.src }}/{{ ssl.files.key }}
  {% if ssl.files.intermediate is defined %}
  SSLCACertificateFile /usr/local/ssl/{{ ssl.src }}/{{ ssl.files.intermediate }}
  {% endif %}

  <Directory {{ deploy_app_path }}/public>
    Options FollowSymLinks
    AllowOverride None
    Order allow,deny
    Allow from all
    Options -MultiViews
    # Uncomment this if you're on Apache >= 2.4:
    Require all granted
  </Directory>

  <Location /assets>
    ProxyPass !
  </Location>

  SSLProxyEngine on
  RequestHeader set X_FORWARDED_PROTO 'https'
  ProxyPass / http://127.0.0.1:{{ webserver_port }}/
  ProxyPassReverse / http://127.0.0.1:{{ webserver_port }}/
</VirtualHost>
