# APACHE2 configuration
<VirtualHost *:80>
  ServerName {{ hostname | default('localhost') }}
  # !!! Be sure to point DocumentRoot to 'public'!
  DocumentRoot {{ deploy_app_path }}/public

  <Directory {{ deploy_app_path }}/public>
    Options FollowSymLinks
    AllowOverride None
    Order allow,deny
    Allow from all
    Options -MultiViews
    # Uncomment this if you're on Apache >= 2.4:
    Require all granted
  </Directory>

  <Location /assets>
    ProxyPass !
  </Location>

  ProxyPass / http://127.0.0.1:{{ webserver_port }}/
  ProxyPassReverse / http://127.0.0.1:{{ webserver_port }}/
</VirtualHost>
