<% content_for :title, "- #{@contest.name}" if @contest.respond_to?(:name) %>
<main>
<div class="content-detailed-section">
  <div class="columns small-12" style="float: none;">
    <h1><%= @contest.name %></h1>
    <!-- TODO: Add editions to contests
      <h3>edição 9.999</h3>
    -->

    <p>
    <!-- TODO: Add editions to contests
      <a class="button small" data-toggle="panel-other-editions">outras edições</a>
    -->
    <a class="button small" data-toggle="panel-share"><%= t('.share') %></a>
    </p>
    <!-- TODO: Add editions to contests
    <div class="callout" style="display: none;" id="panel-other-editions" data-toggler data-animate="fade-in fade-out" data-closable>
      <button class="close-button" data-close>&times;</button>
      <h4>Outras edições</h4>
      <div id="owl-other-editions" class="owl-carousel">
        {{#repeat 6}}
        {{> list-card-contest}}
        {{/repeat}}
      </div>
    </div>
    -->

    <div class="callout" style="display: none;" id="panel-share" data-toggler data-animate="fade-in fade-out" data-closable>
      <button class="close-button" data-close>&times;</button>
      <h4><%= t('.share') %></h4>
      <div class="share-links-group">
        <%= facebook_share(contest_url(@contest), @contest.name) %>
        <%= twitter_share(contest_url(@contest), @contest.name) %>
        <%= google_plus_share(contest_url(@contest)) %>
        <%= content_tag(:a, 'data-open' => 'share-link-modal', class: 'fa-stack fa-1x') { icon('link') } %>
        <div class="reveal small" id="share-link-modal" data-reveal>
          <p><%= t('contents.share_box.share_instructions') %></p>
          <input type="text" value="<%= contest_url(@contest) %>">
          <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="content-box">
    <%= image_tag(@contest.logo_url, alt: @contest.name) %>
  </div>

  <div class="content-details">
    <div class="columns small-12">
      <p class="lead"><%= simple_format(@contest.description, sanitize: true) %></p>

      <% unless @sponsors.empty? %>
        <h3><%= t('.sponsor_section') %></h3>
        <div class="contest-sponsors">
          <%= render partial: 'sponsor', collection: @sponsors, as: :sponsor %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="related-content" id="content-order">
  <div class="columns small-12">
    <h2><%= t('.contest_videos') %></h2>
  </div>
  <!-- TODO: Add these filters to the contest's contents
  <div class="content-sub-container">
    <p class="content-button-group">
    <span><%# "#{t('order_by')}:" %></span>
    <a class="sortby is-active" data-sort="content-featured"><%# t('contents.content_details.featured') %></a>
    <a class="sortby" data-sort="content-upload-date" data-order="desc"><%# t '.recent' %></a>
    <a class="sortby" data-sort="content-type">gifs</a>
    </p>
  </div>
  -->

  <div id="list-videos" class="list">
    <%= render partial: 'shared/list_card_video', collection: @contents_list, as: :video, locals: { scope: '' } %>
  </div>

  <!-- TODO: implement the see more functionality
  <p class="see-more">
  <a class="see-more-button"><%= t 'see_more' %></a>
  </p>
  -->
</div>

<!-- TODO: Add phrase content type
<div class="card-section">
  <div class="columns small-12">
    <h2 class="card-type-title">frases</h2>
  </div>
  <div id="list-phrases">
    {{#repeat 4}}
    {{> list-card-phrase}}
    {{/repeat}}
  </div>

  <p class="see-more">
  <a onclick="loadMore(this, 'list-phrases', 'load-more-phrases');" class="see-more-button">ver mais</a>
  </p>
</div>
-->

<!-- TODO: Add instagram integration
<div class="instagram-section">
  <div class="instagram-header">
    <h2>instagram</h2>
    <p>
    <span class="label">#concurso</span>
    <span class="label">#festivaldominuto</span>
    <span class="label">#hashtag</span>
    <span class="label">#1minuto</span>
    </p>
  </div>
  <div id="owl-instagram" class="owl-carousel">
    {{#repeat 12}}
    <img src="http://lorempixel.com/300/300/cats" alt="">
    {{/repeat}}
  </div>
</div>
-->

<!-- TODO: Add other_contests action
<div class="section">
  <div class="columns small-12">
    <h2>outros concursos</h2>
  </div>
  <div id="list-contests">
    {{#repeat 8}}
    {{> list-card-contest}}
    {{/repeat}}
  </div>
  <p class="see-more">
  <a onclick="loadMore(this, 'list-contests', 'load-more-contests');" class="see-more-button">ver mais</a>
  </p>
  </div>
-->
</main>
