<div class="card card-contest">
  <%= link_to contest_path(contest) do %>
    <div class="thumb">
      <%= image_tag contest.logo_url, alt: contest.name %>
      <div class="content-details">
        <h3 class="contest-name"><%= contest.name %></h3>
        <p class="contest-subscription-date">
        <% unless contest.end_date.nil? %>
          <%= t('.contest_subscription_date', date: contest.end_date.strftime("%d/%m/%Y")) %>
        <% end %>
        </p>
      </div>
    </div>
  <% end %>
</div>
