<div class="thumb content-id" data-id="<%= video.id %>">
  <input type="hidden" class="content-upload-date" data-upload-date="<%= video.created_at %>">
  <input type="hidden" class="content-type" data-type="<%= video.original_medias.last.media.content_type %>">
  <input type="hidden" class="content-featured" data-featured="true<%= video.id %>">
  <a href="<%= content_path(video.id) %>">
    <%= image_tag video.thumbnails.last.url, class: 'thumb-img' %>
  </a>
  <div class="content-details">
    <a href="<%= content_path(video.id) %>">
      <h3 class="content-title"><%= video.title %></h3>
      <p class="content-author"><%= video.user.profile.full_name %></p>
    </a>
    <div class="content-bottom">
      <div class="float-left">
        <p class="content-views"><%= "#{video.view_count} #{t('contents.content_details.views')}" %></p>
        <div class="content-rating">
          <% cache("content/#{video.id}/card_rating", expires_in: 2.hour) do %>
            <%= render partial: 'shared/content_rating', locals: { video: video }  %>
          <% end %>
        </div>
      </div>
      <div class="float-right">
        <div class="content-icons-group">
          <!-- TODO: Add awarded differentiations to contents and reorder the elements: the map icon should come last
          <#% if video.awarded? %>
            <span class="has-tip top ic-premio"></span>
          <#% end  %>
          <#%= link_to map_view_path(video.id) do %>
            <span data-tooltip aria-haspopup="true" class="has-tip top ic-mapa" data-disable-hover='false' tabindex=1 title="<#= t('videos.show.view_on_map') %>"></span>
          <#% end %>
          -->
          <% if video.featured? %>
            <span id="<%= scope %>featured-<%= video.id %>" class="has-tip top ic-destaque"></span>
          <% end  %>
        </div>
      </div>
    </div>
  </div>
</div>
