<div class="reveal tiny" id="login-modal" data-reveal>
  <h3><%= t('login') %></h3>
  <a class="fb-button" href="#">
    <i class="fa fa-facebook-square"></i>&nbsp; <%= t('login_using_facebook') %>
  </a>
  <hr>
  <p class="lead"><%= t('or_signin_with_form') %></p>
  <form action="" method="get">
    <label><%= t('login') %>:
      <input class="search-box" type="text" placeholder="">
    </label>

    <label><%= t('password') %>:
      <input class="search-box" type="password" placeholder="">
    </label>

    <button type="submit" class="button">
      <%= t('enter') %>
    </button>
  </form>

  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
