<% flash.each do |key, value| %>
  <div class="<%= flash_to_callout(key) %> callout" data-closable>
    <%= value %>
    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
