$(document).ready( function (){
  $("#owl-instagram").owlCarousel();
  $("#owl-other-editions").owlCarousel();
  $("#owl-home").owlCarousel({
    'autoPlay': true,
    'singleItem': true
  });

  for(i=1; i <= <%= 3 + Playlist.visible.count %>; i++){
    $("#owl-index-" + i).owlCarousel({
      'items': 4,
      'itemsDesktopSmall': [1023,2],
      'itemsMobile': [639,1],
      'navigation': true,
      'navigationText': ["<",">"],
      'pagination': false,
    });
  }
});
