<div class="card-section">
  <div class="columns small-12">
    <h3 class="card-type-title"><%= playlist.name %></h3>
  </div>
  <div id="owl-index-<%= 4 + playlist_counter %>" class="owl-carousel owl-index">
    <%= render partial: 'shared/list_card_video', collection: playlist.contents, as: :video, locals: { scope: '' } %>
  </div>
</div>
