<main>
<div id="owl-home" class="top-banner owl-carousel">
  <%= render partial: 'highlights_carousel', collection: @highlights, as: :home_highlight %>
  <%= render partial: 'contests_carousel', collection: @contests, as: :contest %>
</div>

<div class="card-section-group">
  <div class="card-section">
    <div class="columns small-12">
      <div class="inline-grid">
        <ul class="tabs" data-tabs id="index-tab-1">
          <li class="tabs-title is-active card-type-title"><a href="#index-tab-featured" aria-selected="true"><%= t('.featured') %></a></li>
          <li class="tabs-title card-type-title"><a href="#index-tab-recent"><%= t('.recent') %></a></li>
        </ul>
      </div>
    </div>
    <div class="tabs-content" data-tabs-content="index-tab-1">
      <div id="index-tab-featured" class="tabs-panel is-active">
        <div id="owl-index-1" class="owl-carousel owl-index">
          <%= render partial: 'shared/list_card_video', collection: @featured_contents, as: :video, locals: { scope: 'featured-' } %>
        </div>
      </div>
      <div id="index-tab-recent" class="tabs-panel">
        <div id="owl-index-2" class="owl-carousel owl-index">
          <%= render partial: 'shared/list_card_video', collection: @recent_contents, as: :video, locals: { scope: 'recent-' } %>
        </div>
      </div>
    </div>
  </div>

  <!-- TODO: Add 'histórico' section
    <div class="card-section">
      <div class="columns small-12">
        <h3 class="card-type-title">histórico</h3>
      </div>
      <div id="owl-index-3" class="owl-carousel owl-index">
      </div>
    </div>
  --!>

  <%= render partial: 'playlist', collection: @playlists, as: :playlist %>
</div>
<!-- TODO: Add phrases
<div class="card-section">
  <div class="columns small-12">
    <h2 class="card-type-title">frases</h2>
    <a href="#" class="see-more-button">ver tudo</a>
  </div>
  {{#repeat 4}}
  {{> list-card-phrase}}
  {{/repeat}}
</div>
-->

<div class="card-section card-half-section">
  <div class="card-section">
    <div class="columns small-12">
      <h2 class="card-type-title"><%= Contest.model_name.human.pluralize %></h2>
      <!-- TODO: Add see more action
        <a href="#" class="see-more-button">ver tudo</a>
      -->
    </div>
    <%= render partial: 'shared/list_card_contest', collection: @contests, as: :contest %>
  </div>
  <!-- TODO: Add news
  <div class="half-block">
    <div class="card-section">
      <div class="columns small-12">
        <h2 class="card-type-title">notícias</h2>
        <a href="#" class="see-more-button">ver tudo</a>
      </div>
      {{#repeat 8}}
      {{> list-card-news}}
      {{/repeat}}
    </div>
    TODO: Add tags
    <div class="card-section">
      <div class="columns small-12">
        <h2 class="card-type-title">tags populares</h2>
        <a href="#" class="see-more-button">ver tudo</a>
      </div>
      <div class="columns small-12">
        {{#repeat 14}}
        <a href="" class="label">tag teste</a>
        {{/repeat}}
      </div>
    </div>
  </div>
  -->
</div>

<!-- TODO: Add instagram integration
<div class="instagram-section">
  <div class="instagram-header">
    <h2>#instaminuto</h2>
  </div>
  <div id="owl-instagram" class="owl-carousel">
    {{#repeat 12}}
    <img src="http://lorempixel.com/300/300/cats" alt="">
    {{/repeat}}
  </div>
</div>
-->

<div class="section">
  <div class="columns small-12">
    <h2><%= t('.sponsor') %></h2>
    <%= sponsor_banner %>
  </div>
</div>
</main>

<% content_for :footer do %>
  <%= javascript_tag do %>
    <%= render partial: 'owl_carousel', formats: [:js] %>
  <% end %>
<% end %>
