production:
  adapter: postgresql
  encoding: unicode
  database: {{ db.database }}
  pool: 5
  username: {{ db.username }}
  password: {{ db.password }}
  template: template0

# if the host is on another machine, we have to define the host option
