# encoding: utf-8

Model.new(:{{ app_name }}, 'Description for {{ app_name }}') do

  ##
  # PostgreSQL [Database]
  #
  database PostgreSQL do |db|
    db.name               = "{{ db.database }}"
    db.username           = "{{ db.username }}"
    db.password           = "{{ db.password }}"
    db.additional_options = ["-xc", "-E=utf8"]
  end

  ##
  # Amazon Simple Storage Service [Storage]
  #
  store_with S3 do |s3|
    s3.access_key_id     = "{{ aws.access_key_id }}"
    s3.secret_access_key = "{{ aws.secret_access_key }}"
    s3.region            = "us-east-1"
    s3.bucket            = "{{ aws.bucket }}"
    s3.path              = "db_backups"
    s3.keep              = 30
  end

  ##
  # Gzip [Compressor]
  #
  compress_with Gzip

  ##
  # Mail [Notifier]
  #
  # The default delivery method for Mail Notifiers is 'SMTP'.
  # See the documentation for other delivery options.
  #
  notify_by Mail do |mail|
    mail.on_success           = false
    mail.on_warning           = true
    mail.on_failure           = true

    mail.from                 = "contato@festivaldominuto.com.br"
    mail.to                   = "contato@festivaldominuto.com.br"
    mail.address              = "smtp.sendgrid.net"
    mail.domain               = "{{ mailer.domain }}"
    mail.user_name            = "{{ mailer.user }}"
    mail.password             = "{{ mailer.password }}"
    mail.authentication       = "plain"
    mail.encryption           = :starttls
  end

end
