---
default_outputs: &default_outputs
  video:
    format: 'mp4'
    size: '848x480'
    public: true
    quality: 4
    thumbnails: {}

default_http_options: &default_http_options
  http_default_options:
    timeout: 30000
    headers:
      'Accept': 'application/json'
      'Content-Type': 'application/json'

defaults: &defaults
  notifications:
    url: 'http://{{ hostname | default('localhost') }}/contents/zencoder_callback'


production:
  <<: *defaults
  <<: *default_http_options
  <<: *default_outputs
  api_key: {{ zencoder_key }}
