production:
  adapter: postgresql
  encoding: unicode
  database: {{ db.database }}
  pool: 5
  username: {{ db.username }}
  password: {{ db.password }}
  template: template0

{% if inventory_hostname == 'media_choice_staging' or inventory_hostname == 'festivaldominuto' %}
production_replica:
  adapter: mysql2
  database: media_choice_production
  username: {{ production_replica.username }}
  password: {{ production_replica.password }}
  host: dbmediachoice-prod-migration.cpvtfbxmid0q.us-east-1.rds.amazonaws.com
  port: 3306
  encoding: utf8
  pool: 5
  timeout: 5000
{% endif %}
# if the host is on another machine, we have to define the host option
