.card-section {
    @include is-container();

    &:not(:last-child) {
        @include is-container;
    }
    .card-type-title {
        @extend .float-left;
        margin-bottom: 1rem;
    }
    div .see-more-button {
        @extend .float-right;
        @extend .small;
    }
}

.card-section-group {
    @include is-container;
    @include grid-col-row;

    .card-section {
        border-bottom: none !important;
        margin-bottom: 10px !important;
        padding-bottom: 0 !important;

        &:last-child {
            margin-bottom: 0 !important;
        }

        .card-type-title {
            margin-bottom: 0;
        }
    }
}

.instagram-section {
    @include is-container;
    .instagram-header {
        @include grid-col(12);
        float: none;
    }
}

.card-half-section {
    @include is-container;
    padding-bottom: 0 !important;

    .half-block {
        @include grid-col(12);

        @include breakpoint(medium) {
            @include grid-col(6);
        }
    }
}

.card {
    @extend .hvr-grow;

    @include grid-col(12);

    @include breakpoint(medium) {
        @include grid-col(6);
    }

    @include breakpoint(large) {
        @include grid-col(3);
    }

    &:last-child:not(:first-child) {
        @include grid-col-end();
    }

    margin-bottom: 20px;

    .card-half-section & {
        @include breakpoint(medium) {
            @include grid-col(12);
        }

        @include breakpoint(large) {
            @include grid-col(6);
        }
    }

    a {
        color: $black;

        &:hover {
            color: $brand-red-hover;
        }
    }

    .thumb {
        > a > img {
            width: 100%;
        }
    }

    .content-details {
        float: left;
        height: 100%;
        margin: 12px 0;
        top: 0;
        width: 100%;
    }

    .owl-carousel & {
        padding-top: 1.1em;
        width: 100%;

        &:hover {
            // transform: none;
        }
    }

    &.card-video {
        a {
            color: $black;

            @include breakpoint(medium) {
                color: #fff;
            }
        }

        .thumb {
            float: left;
            position: relative;

            &:hover {
                .content-details {
                    display: block;
                }
            }
        }

        .content-details {

            @include breakpoint(medium) {
                background-color: rgba(0, 0, 0, 0.8);
                color: #fff;
                display: none;
                margin: 0;
                // margin-top: -56.25%;
                padding: 12px;
                position: absolute;
            }

            .content-title {
                font-size: 16px;
                line-height: 20px;
                margin-bottom: 0px;
            }

            .content-rating {
                img {
                    height: 12px;
                }
            }

            .content-icons-group {
                span {
                    height: 22px;
                    width: 22px;
                }


                /* FIXME: use image-url instead of just url. Also fix the path, this enforces the precompile asset path */
                .ic-premio {
                    @include breakpoint(medium) {
                        background-image: url('../img/ic-premio-branco.svg');
                    }
                }

                .ic-destaque {
                    @include breakpoint(medium) {
                        background-image: image-url('ic-destaque-branco.svg');
                    }
                }

                /* FIXME: use image-url instead of just url. Also fix the path, this enforces the precompile asset path */
                .ic-mapa {
                    @include breakpoint(medium) {
                        background-image: url('../img/ic-mapa-branco.svg');

                        &:hover {
                            background-image: url('../img/ic-mapa-branco-hover.svg');
                        }
                    }
                }
            }

            .content-bottom {
                @include breakpoint(medium) {
                    position: absolute;
                    bottom: 12px;
                    left: 12px;
                    right: 12px;
                }
            }

            .content-views {
                margin-top: 0;
            }
        }

        &.card-video-complete {
            transform: none;

            .thumb {
                @extend .hvr-grow;
            }

            // &:hover {
            //     transform: translateZ(10px) scale(1.1);
            //     transform: scale(1.1);
            // }

            .content-more-details {
                float: left;
                margin-top: 0.5rem;
                position: relative;

                &:hover {
                    + .content-details {
                        display: block;
                    }
                }

                .jury-button {
                    background-image: url('../img/ic-jury.svg');
                    background-position: left;
                    background-repeat: no-repeat;
                    background-size: contain;
                    height: 20px;
                    margin-right: 15px;
                    position: relative;
                    vertical-align: top;
                    width: 35px;

                    &:after {
                        content: '';
                        display: block;
                        width: 0;
                        height: 0;
                        border: inset 5px;
                        border-color: $black transparent transparent;
                        border-top-style: solid;
                        position: absolute;
                        top: 50%;
                        right: 0;
                    }
                }

                .video-license-button {
                    height: 20px;
                    width: 35px;
                    text-align: left;

                    img {
                        height: 100%;
                    }

                    &:after {
                        content: '';
                        display: block;
                        width: 0;
                        height: 0;
                        border: inset 5px;
                        border-color: $black transparent transparent;
                        border-top-style: solid;
                        position: absolute;
                        top: 50%;
                        right: 0;
                    }
                }

                .content-jury-rating-box {
                    font-size: 12px;
                    .content-rating-title {
                        @extend .h3;
                        color: $brand-red;
                    }

                    .content-rating {
                        display: inline-block;
                        width: 100%;

                        &:not(:last-child) {
                            margin-bottom: 0.5rem;
                        }

                        div {
                            display: inline-block;
                            line-height: 18px;
                            vertical-align: middle;
                        }

                        .content-rating-topic-tip {
                            margin-right: 3px;
                        }

                        .content-rating-val {
                            img {
                                height: 18px;
                            }
                        }

                        &.content-rating-result {
                            border-top: solid 1px $brand-gray-light;
                            padding-top: 0.5rem;

                            .content-rating-topic-name {
                                font-weight: bold;
                            }
                        }
                    }

                    .content-rating-featured {
                        margin-top: 10px;

                        .content-icons-group {
                            float: left;
                            margin-top: 0;

                            span {
                                height: 20px;
                                width: 20px;
                            }
                        }

                        .jury-commentary-modal {
                            float: right;

                            a {
                                color: $black;
                            }
                        }
                    }
                }
            }
        }
    }

    &.card-phrase {
        .phrase {
            @extend .h3;

            font-family: $primary-font;
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 0;

            &:before,
            &:after {
                content: '"';
            }
        }

        .content-details {
            .phrase-author,
            .phrase-contest {
                margin-bottom: 0;
            }
        }
    }

    &.card-news {
        .news-title {
            @extend .h3;

            font-family: $primary-font;
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 0;
        }

        .content-details {
            .news-headline {
                margin-bottom: 0;
            }
        }
    }

    &.card-user {
        @include grid-col(6);

        @include breakpoint(medium) {
            @include grid-col(4);
        }

        @include breakpoint(large) {
            @include grid-col(2);
        }

        .thumb {
            img {
                border-radius: 50%;
            }
        }

        .content-details {
            text-align: center;

            .user-name {
                margin-bottom: 0;
            }
        }
    }

    &.card-contest {
        .content-details {
            .contest-name {
                margin-bottom: 0;
            }
        }

        #panel-other-editions & {
            &:hover {
                // transform: none;
            }
        }
    }
}
