.content-detailed-section {
    @include is-container;

    .autoplay-section {
        @include grid-col-row;
        margin-bottom: 20px;

        .autoplay-label {
            color: $brand-gray-medium;
            display: inline-block;
            float: left;
            font-family: $primary-font;
            font-size: 16px;
            font-weight: bold;
            line-height: 24px;
            padding-right: 8px;
        }

        .switch.tiny {
            display: inline;
        }
    }

    .callout {
        border-left: none;
        border-right: none;
        border-top: none;
        padding-top: 0;
    }

    .content-box {
        @include grid-col-row;

        position: relative;
        text-align: center;

        img {
            width: 100%;
        }
    }

    .gifplayer {
        max-height: 641.25px;
    }

    .player-box {
        width: 100%;
    }

    .map-player-box {
        position: relative;
        text-align: center;
        height: 270px;
        width: 480px;
        .gifplayer, .video-js {
            height: 270px !important;
            max-height: 270px;
            padding-top: 0px;
        }
    }

    .video-js {
        height: auto !important;
        width: 100%;
        max-height: 641.25px;
        padding-top: 56.25%;

        .vjs-big-play-button {
            $big-play-width: 60px;
            $big-play-height: 60px;

            line-height: ($big-play-width * 0.9);
            height: $big-play-height;
            width: $big-play-width;

            left: 50%;
            top: 50%;
            margin-left: -($big-play-width / 2);
            margin-top: -($big-play-height / 2);

            /* IE8 - has no alpha support */
            background-color: $brand-red;
            /* Opacity: 1.0 = 100%, 0.0 = 0% */
            background-color: rgba($brand-red, 0.7);

            border: 4px solid #fff;
            border-radius: 50%;
        }

        &:hover .vjs-big-play-button,
        .vjs-big-play-button:focus {
            background-color: rgba($brand-red-hover, 0.7);
        }

        .vjs-control {
            &:focus:before,
            &:hover:before,
            &:focus {
                background-color: rgba($brand-red, 0.7);
            }
        }

        .vjs-slider {
            background-color: $brand-gray-medium;
            background-color: rgba($brand-gray-medium, 0.5);
        }

        .vjs-play-progress,
        .vjs-volume-level,
        .vjs-slider-bar {
            background-color: $brand-red;
        }

        .vjs-load-progress {
            /* For IE8 we'll lighten the color */
            background: ligthen($brand-gray-medium, 25%);
            /* Otherwise we'll rely on stacked opacities */
            background: rgba($brand-gray-medium, 0.5);

            div {
                /* For IE8 we'll lighten the color */
                background: ligthen($brand-gray-medium, 50%);
                /* Otherwise we'll rely on stacked opacities */
                background: rgba($brand-gray-medium, 0.75);
            }
        }
    }

    .vjs-fullscreen {
        max-height: none;
    }
}


.content-details {
    margin-top: 40px;
    margin-bottom: 40px;

    .content-title {
        @extend .h2 !optional;

        font-family: $primary-font;
    }

    .content-author {
        font-family: $secondary-font;
        margin-bottom: 0;

        a {
            color: $black;
            text-transform: uppercase;

            &:hover {
                color: $brand-red-hover;
            }
        }
    }

    .content-views {
        margin-bottom: 0;
        margin-top: 10px;
    }

    .contest-sponsors {
        img {
            margin-bottom: 5px;
            max-height: 100px;

            &:not(:last-child) {
                margin-right: 5px;
            }
        }
    }

    .content-tags, .content-contests {
        @extend .title-call;
        font-family: $primary-font;
        line-height: 1.5;
        margin-bottom: 0;
        margin-top: 8px;

        a {
            color: black;
            font-weight: normal;

            &:after {
                content: ', ';
            }
            &:last-child:after {
                content: '';
            }
        }
    }

    .left-col, .right-col {
        @include grid-col(12);

        @include breakpoint(large){
            @include grid-col(6);
        }
        h2, h3, p {
            margin-bottom: 0;
        }
    }

    .right-col {
        @include breakpoint(large){
            text-align: right;
        }
    }
}

.content-icons-group {
    margin-top: 10px;

    .has-tip {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        border-bottom: none;
        cursor: initial;
        height: 40px;
        vertical-align: middle;
        width: 40px;

        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    /* FIXME: use image-url instead of just url. Also fix the path, this enforces the precompile asset path */
    .ic-premio {
        background-image: url('ic-premio-preto.svg');
    }

    .ic-destaque {
        background-image: image-url('ic-destaque-preto.svg');
    }

    .ic-mapa {
        background-image: image-url('ic-mapa-preto.svg');

        &:hover {
            background-image: image-url('ic-mapa-preto-hover.svg');
        }
    }
}

.video-license {
    margin-left: 10px;

    &:before {
        background: image-url('ic-cc.svg') no-repeat left center;
        background-size: contain;
        content: '';
        width: 20px;
        height: 20px;
        padding-left: 25px;
    }
}

.content-rating {
    @extend .content-views;

    .has-tip {
        border-bottom: none;
        cursor: pointer;
    }

    > .has-tip {
        cursor: initial;
    }
}

/******relacionados*******/

.tabs-content {
    @include grid-row;
    border: none;
    padding: 0;
    &> .tabs-panel {
        padding: 0;
    }
}

.tabs-panel {
    @include grid-col(12);
    // margin-bottom: 40px;
}


.related-content {
    @include is-container();

    .content-sub-container {
        @include grid-col-row;

        margin-bottom: 40px;
    }
}

.content-button-group {
    span {
        @extend .h3;
        font-size: 24px;
        margin-right: 20px;
    }
    a {
        @extend .h3;
        color: $black;

        &:hover,
        &:focus {
            color: $brand-red;
        }

        &:not(:last-child) {
            margin-right: 20px;
        }

        &.is-active {
            color: $brand-red;
            border-bottom: 3px solid $brand-red;
        }
    }
}

.inline-grid {
    .tabs-title {
        &:not(:last-child) {
            margin-right: 20px;
        }

        a {
            @extend h3;
            color: #000;
            padding: 0;
            &:hover {
                color: $brand-red;
            }
        }

        > a:focus, > a[aria-selected='true'] {
            background-color: #fff;
        }

        &:hover {
            color: $brand-red;
        }

        &.is-active a {
            border-bottom: 3px solid $brand-red;
            color: $brand-red;
        }
    }
}

.tabs {
    border: none;
}

.comments-list {
    @include grid-col(12);

    @include breakpoint(large) {
        @include grid-col(10);
    }
}

.comment-box {
    @include media-object-container;
    border-top: 1px solid $brand-gray-medium;
    margin: 0;
    padding-top: 25px;

    .comments-list > &:last-of-type {
        border-bottom: 1px solid $brand-gray-medium;
        margin-bottom: 20px;
    }

    .comment-box-section {
        @include media-object-section(20px);

        .thumbnail {
            border: none;
            box-shadow: none;
            width: 75px;

            &:hover,
            &:focus {
                box-shadow: none;
            }

            img {
                border-radius: 50%;
            }
        }

        .comment-author {
            color: $brand-red;
        }

        p {
            font-size: 14px;
        }

        .comment-likes {
            cursor: pointer;
            margin-left: 20px;

            /* FIXME: use image-url instead of just url. Also fix the path, this enforces the precompile asset path */
            &:before {
                background: url('ic-like.svg') no-repeat left center;
                content: '';
                width: 18px;
                height: 20px;
                padding-left: 23px;
            }

            /* FIXME: use image-url instead of just url. Also fix the path, this enforces the precompile asset path */
            &:hover:before {
                background-image: url('ic-like-hover.svg');
            }
        }
    }
}

.comment-compose-box {
    @extend .comment-box;
    border-top: none;
    padding-bottom: 25px;
    width: 100%;

    .input-section {
        text-align: right;
        width: 100%;

        textarea {
            font-size: 14px;
        }
    }
}
