footer {
    @include is-container();
    padding-top: 40px;
    border-top: 1px solid $brand-gray-medium;

    &:not(:last-child) {
        border-bottom: none;
    }

    ul {
        @include breakpoint(medium){
            // @include grid-col(3); // To use with quick access, uncomment this line
            @include grid-col(32.75%);
            &:nth-child(n+2){
                margin-left: 0;
            }
        }
        list-style: none;
        li:nth-child(1){
            font-size: 18px !important;
            line-height: 30px !important;
            font-weight: 700;
            color: $brand-red;
        }
        li:nth-child(2){
        }
    }
    div {
        margin-left: 1.25rem;
        margin-right: 1.25rem;
        @include breakpoint(medium){
            @include grid-col(2);
            margin-left: 0;
            margin-right: 0;
        }
        h3 {
            color: $brand-red;
        }
    }

}
