.form-section {
    @include is-container();

    fieldset {
        @include grid-row;

        .field-label {
            @include grid-col(4);
            @extend .text-right;

            label {
                @extend .middle;
            }

            legend {
                display: inline-block;
                width: 100%;
                font-size: 0.875rem;
                line-height: 28px;
            }
        }

        .field-item {
            @include grid-col(8);
            @include breakpoint(medium) {
                @include grid-col(6);
                @include grid-col-end;
            }

            @include breakpoint(large) {
                @include grid-col(4);
                @include grid-col-end;
            }
        }

        .field-label-item {
            @include grid-col-off(4);
            @include grid-col(8);
        }

        &.contest-select {
            a {
                color: $brand-gray-medium;
                margin-left: 3px;

                &:hover {
                    color: $brand-red-hover;
                }
            }
        }
    }

    .has-tip {
        border-bottom: none;
        font-size: 14px;
    }

    .recaptcha {
        margin: 0 0 1rem;
    }

    .content-field-group {
        margin-bottom: 1rem;
        margin-top: 1rem;
        padding-top: 20px;
        border-top: 1px solid $brand-gray-medium;
    }
}

#user-birth-day { width: 15%; }
#user-birth-month { width: 55%; }
#user-birth-year { width: 25%; }
