.top-banner {
    @include grid-col-row;
    @include show-for(medium);
    padding-bottom: 20px;
    padding-top: 20px;
}

.menu-icon.dark {
    float: right;
    margin-top: 10px;

    &::after {
        background: $brand-red;
        box-shadow: 0 7px 0 $brand-red, 0 14px 0 $brand-red;
    }
}


.general-header {
    @include grid-row;
    margin-bottom: 20px;

        @include breakpoint(medium) {
            margin-bottom: 40px;
        }

    .top-bar {
        @include grid-col-row;
        background-color: $white;
    }

    .top-bar-right {
        @include breakpoint(medium down) {
            float: none;
        }
    }

    .top-bar-title {
        @include breakpoint(medium down) {
            width: 100%;
        }
        @include breakpoint(large) {
            float: left;
        }

        .logo {
            display: inline-block;
            width: 150px;

            @include breakpoint(large) {
                display: block;
                width: 250px;
            }
        }
    }

    .menu {
        background-color: $white;
        font-size: 14px;

        @include breakpoint(medium down) {
            text-align: center;
        }

        a {
            color: #000;

            &:hover {
                color: $brand-red-hover;
            }
        }

        .featured-link {
            @extend .button;
            border-radius: 6px;
            margin: 0 1em;
        }

        .language-selector {
            font-weight: bold;
        }

        .social-links-group {
            display: inline-block;
            font-size: 26px;

            @include breakpoint(large) {
                float: right;
                margin-left: 50px;
            }

            a {
                color: $brand-red;
                display: inline-block;
                margin: 0 5px;

                &:hover {
                    color: $brand-red-hover;
                }
            }
        }

        &.primary-menu {
            @extend .vertical;
            @extend .large-horizontal;
        }

        &.secondary-menu {
            @extend .vertical;
            @extend .large-horizontal;
            margin-top: 20px;

            @include breakpoint(large) {
                float: right;
            }
        }
    }

    .dropdown.menu {
        .is-dropdown-submenu-parent {
            &.is-down-arrow > a {
                &:after {
                    border-color: #000 transparent transparent;
                }

                &:hover:after {
                    border-color: $brand-red-hover transparent transparent;
                }
            }
        }

        .submenu {
            min-width: 100px;

            @include breakpoint(medium down) {
                width: 100%;
            }

            @include breakpoint(large) {
                &.first-sub {
                    left: auto;
                    right: 0;
                }
            }
        }
    }
}
