$fb-color: #3b5998;
$twitter-color: #55acee;
$gplus-color: #dc4e41;


@mixin is-container () {
    @extend .row;
    margin-bottom: 20px;

    @include breakpoint(medium) {
        margin-bottom: 40px;
    }

    &:not(:last-child) {
        border-bottom: 1px solid $brand-gray-medium;
        padding-bottom: 40px;
    }
}


html {
}

body {
    width: 100%;
    font-family: $secondary-font;
    font-size: 12px;
    line-height: 15px;
}

h1, h2, h3, .h3, h4 {
    font-family: $primary-font;
    font-weight: 700;
    line-height: 1.25;
}

h1, h2 {
    // color: $brand-red;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3, .h3 {
    font-size: 18px;
}

a {
    color: $brand-red;

    &:hover, &:focus {
        color: $brand-red-hover;
    }
}

//buttons
.button {
    border-color: $brand-red-hover;
    background-color: $white;
    color: $brand-red-hover;
    margin: 0;
    &:hover,
    &:focus {
        background-color: $brand-red-hover;
        color: #eee;
    }

    &.hollow {
        color: $black;
        border-color: $black;

        &:hover,
        &:focus {
            color: $brand-red;
            border-color: $brand-red;
        }
    }
}

.follow-button {
    @extend .button;
    @extend .tiny;

    border-bottom: 1px solid $brand-red-hover;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1.25;
    padding: 0.25em 1.5em;
    position: relative;

    i {
        position: absolute;

        &:nth-child(1) {
            left: 3px;
            top: 1px;
            transform: rotate(-25deg);
        }

        &:nth-child(2) {
            left: 8px;
            top: 8px;
            transform: rotate(20deg);
        }

        &:nth-child(3) {
            left: 15px;
            top: 1px;
            transform: rotate(-10deg);
        }

        &:nth-child(4) {
            left: 21px;
            top: 7px;
            transform: rotate(10deg);
        }
    }
}

.see-more {
    @include grid-col(12);
    margin: 0;
    text-align: center;

}
.see-more-button {
    @extend .button;
}

.cancel-button {
    margin-right: 1rem;
}

.send-button {
    @extend .button;
    @extend .small;
}

.response-button {
    @extend .button;
    @extend .tiny;

    background-color: $brand-gray-light;
    border: none;
    color: $black;
    margin-bottom: 0;

    &:hover,
    &:focus {
        background-color: $brand-gray-medium;
        color: #fff;
    }
}

.evaluate-button {
    margin: 5px 30px 0;
}

.fb-button {
    @extend .button;
    @extend .small;

    @include button-style($fb-color, auto, #fff);
    border: none;
}

.search-box {
    display: inline-block;
}

.search-button {
    color: $brand-gray-light;
    display: inline-block;
    font-size: 20px;
}
.tooltip {
    background-color: $brand-gray-light;
    color: #000;

    &.top {
        &:before {
            border-color: $brand-gray-light transparent transparent;
        }
    }

    &.bottom {
        &:before {
            border-color: transparent transparent $brand-gray-light;
        }
    }

    &.right {
        &:before {
            border-color: transparent $brand-gray-light transparent transparent;
        }
    }

    &.left {
        &:before {
            border-color: transparent transparent transparent $brand-gray-light;
        }
    }
}

.label {
    background-color: $white;
    border: 1px solid $black;
    border-radius: 2px;
    color: $black;
    margin: 3px 0;

    &:not(:last-child) {
        margin-right: 2px;
    }
}
a.label {
    @extend .label;
    @extend .hvr-grow;

    &:hover,
    &:focus {
        background-color: $brand-red-hover;
        border-color: $brand-red-hover;
        color: $white;
    }
}

i.fa-question-circle {
    color: $brand-gray-medium;
}

.title-call {
    color: $brand-red;
}

.section {
    @include is-container();
}

.inline-grid {
    display: inline-flex;
    h3,p {
        padding-right: 10px;
    }

}

.thumbnail {
    border: none;
    box-shadow: none;

    &:hover {
        box-shadow: none;
    }
}

.archive {
    ul {
        li {
            a {
                color: $black;
                &:hover {
                    color: $brand-red-hover;
                }
            }
        }
    }
}

.rateit {
    div.rateit-range {
        background: image-url('ic-estrela_vazia.svg');
        background-size: 20px 20px;
        height: 20px;
    }

    div.rateit-hover {
        background: image-url('ic-estrela_cheia.svg');
        background-size: 20px 20px;
    }

    div.rateit-selected {
        background: image-url('ic-estrela_cheia.svg');
        background-size: 20px 20px;
    }

    button.rateit-reset {
        display: none !important;
    }

    &.small {
        .rateit-range,
        .rateit-hover,
        .rateit-selected {
            background-size: 16px 16px;
        }
    }
}

.share-links-group {
    display: inline-block;
    font-size: 20px;
    line-height: 1;

    a {
        display: inline-block;
        margin: 0 0px;
    }

    .share-facebook {
        color: $fb-color;

        &:hover,
        &:focus {
            color: scale-color($fb-color, $lightness: -20%)
        }
    }

    .share-twitter {
        color: $twitter-color;

        &:hover,
        &:focus {
            color: scale-color($twitter-color, $lightness: -20%)
        }
    }

    .share-google-plus {
        color: $gplus-color;

        &:hover,
        &:focus {
            color: scale-color($gplus-color, $lightness: -20%)
        }
    }

    .share-link-modal {
        background-color: $white;
        bottom: 0;
        color: $black;
        display: none;
        left: 0;
        margin: 2%;
        padding: 2rem;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 20;

        .close-button {
            color: $black;
        }
    }
}
