.map-view-content {
    position: relative;

    label,
    legend,
    input,
    select {
        font-size: 14px;
    }

    input,
    select {
        height: 30px;
        margin-bottom: 12px;
        padding: 4px;
    }

    fieldset {
        label {
            line-height: 30px;
            margin: 0 12px 12px 4px;
            vertical-align: top;
        }

        legend {
             margin-bottom: 0;
        }
    }

    .content-details a {
        color: $black;

        &:hover,
        &:focus {
            color: $brand-red-hover;
        }
    }
}

#map-view-section {
    background-color: $brand-gray-light;
    height: 100vh;
    width: 100%;
}

@mixin map-box-layout {
    background-color: #fff;
    border: 1px $brand-gray-light solid;
    margin: 10px;
    padding: 10px;
    z-index: 9;

    @include breakpoint(medium) {
        border: none;
        border-radius: 2px;
        box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
        max-width: 300px;
        position: absolute;
    }
}

.map-search-section {
    @include map-box-layout;

    right: 0;
    top: 0;

    .search-box {
        margin-bottom: 0;
        max-width: 85%;
    }
    .search-button {
        color: $brand-red;
        text-align: right;
        width: 12%;
    }
}

.map-filter-section {
    @include map-box-layout;

    left: 0;
    top: 0;
}

.player-geo {
    .player-box {
        padding: 0;
    }
    .content-detailed-section {
        border-bottom: none;
        margin-bottom: 0;

        .content-details {
            margin-bottom: 10px;
            margin-top: 10px;

            .content-title {
                font-size: 18px;
            }

            .content-author,
            .content-tags,
            .content-contests {
                font-size: 14px;
                margin-bottom: 8px;
                margin-top: 4px;
            }

            .content-icons-group {
                .has-tip {
                    height: 30px;
                    width: 30px;
                }
            }

            @include breakpoint(medium down) {
                .content-icons-group,
                .content-views,
                .content-rating {
                    margin-top: 4px;
                }
            }
        }

        .left-col {
            @include grid-col(7);
        }
        .right-col {
            @include grid-col(5);
        }
    }
}
