.owl-index {
    .owl-controls {
        margin-top: 0;
        margin-right: 0.9375rem;

        &.clickable {
            position: absolute;
            right: 0;
            top: 0;
        }
        .owl-buttons {
            div {
                @extend .button;
                border-radius: 0;
                filter: Alpha(Opacity=100);/*IE7 fix*/
                font-size: 14px;
                font-weight: 700;
                margin: 5px;
                margin-top: 0;
                opacity: 1;

                &.owl-next {
                    margin-right: 0;
                }
            }
        }
    }

    .tabs-content & {
        .owl-controls {
            &.clickable {
                top: -22px;
            }
        }
    }
}
