.user-profile-section {
    @include is-container;
    font-size: 14px;
    line-height: 1.5;

    .user-profile-image {
        @include grid-col(3);
        text-align: center;

        .profile-pic-button {
            border: none;
            padding: 0;
            position: relative;

            &:hover {
                &:before {
                    background-color: rgba(128, 5, 0, 0.5);
                    content: "";
                    border-radius: 50%;
                    height: 100%;
                    position: absolute;
                    width: 100%;
                }

                &:after {
                    content: "\f030";
                    font-family: "fontawesome";
                    font-size: 20px;
                    left: 50%;
                    margin-left: -10px;
                    margin-top: -10px;
                    position: absolute;
                    top: 50%;
                    vertical-align: middle;
                    width: 20px;

                    @include breakpoint(medium) {
                        font-size: 50px;
                        margin-left: -25px;
                        margin-top: -25px;
                        width: 50px;
                    }
                }
            }
        }

        img {
            max-width: 200px;
            width: 100%;
            border-radius: 50%;
        }

        a {
            @extend .button;
            @extend .small;
            margin-top: 2rem;
        }
    }

    .user-profile-info {
        @include grid-col(9);
    }

    .user-profile-info-row {
        @include grid-col-row;
    }

    .user-profile-numbers {
        @include grid-row;

        .user-profile-numbers-col {
            @include grid-col(6);

            @include breakpoint(large) {
                @include grid-col(3);

                &:last-child {
                    @include grid-col-end;
                }
            }
        }

        ul {
            list-style-type: none;
            margin: 1rem 0;

            li {
                padding-bottom: 0.5rem;
                width: 100%;

                a {
                    color: $black;
                    font-family: $primary-font;
                    font-size: 16px;
                    padding: 0.5rem 0;

                    &:hover,
                    &[aria-selected="true"] {
                        background: none;
                        color: $brand-red;
                    }
                }
                span {
                    color: $brand-red;
                    font-weight: bold;
                }
            }
        }
    }

    .edit-profile-field {
        font: 14px/1 $primary-font normal;
        margin: 0 5px;

        &:before {
            content: "\f040";
            font-family: "fontawesome";
            margin-right: 5px;
        }
    }
}

.user-content-section {
    @include is-container();

    .tabs-panel {
        > .user-content-section-title {
            @include grid-col-row;
            margin-bottom: 2rem;
        }
    }
}
