//cores
$brand-red: #800500;
$brand-red-hover: #500200;
$brand-gray-light: #d8d8d8;
$brand-gray-medium: #9b9b9b;


//fonts
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300);

$primary-font: "PT Sans", Helvetica, Arial, sans-serif;
$secondary-font: "Open Sans", Helvetica, Arial, sans-serif;
