a#vjs-share-button-image-destination {
    background-color: transparent;
    display: block;
    height: 40px;
    left: auto;
    position: absolute;
    right: 20px;
    top: 20px;
    transition: visibility 0.1s ease 0s, opacity 0.1s ease 0s;
    visibility: visible;
    width: auto;

    .ic-share {
        background-image: image-url('ic-share-branco.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        border-bottom: none;
        cursor: pointer;
        height: 40px;
        vertical-align: middle;
        width: 40px;

        &:hover {
            background-image: image-url('ic-share-branco-hover.svg');
        }
    }
}
.vjs-user-inactive a#vjs-share-button-image {
    visibility: hidden;
}
.vjs-user-inactive.vjs-paused a#vjs-share-button-image {
    visibility: visible;
}
.vjs-ad-playing a#vjs-share-button-image-destination {
    display: none;
}

.vjs-share-box {
    @extend .vjs-suggested-video-endcap;

    .share-links-group {
        margin-top: 10%;
        text-align: center;

        h3 {
            color: $white;
        }
    }

    .reveal {
        color: $black;

        .close-button {
            color: $black;
        }
    }

    .close-button {
        color: $white;
    }
}
