a#vjs-map-button-image-destination {
    background-color: transparent;
    display: block;
    height: 40px;
    left: auto;
    position: absolute;
    right: 20px;
    top: 70px;
    transition: visibility 0.1s ease 0s, opacity 0.1s ease 0s;
    visibility: visible;
    width: auto;

    .ic-mapa {
        background-image: image-url('ic-mapa-branco.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        border-bottom: none;
        cursor: initial;
        height: 40px;
        vertical-align: middle;
        width: 40px;

        &:hover {
            background-image: image-url('ic-mapa-branco-hover.svg');
        }
    }
}
.vjs-user-inactive a#vjs-map-button-image {
    visibility: hidden;
}
.vjs-user-inactive.vjs-paused a#vjs-map-button-image {
    visibility: visible;
}
.vjs-ad-playing a#vjs-map-button-image-destination {
    display: none;
}
