#= require contents/map/markers
#= require contents/map/map_renderer

initMap = ->
  renderer = new MapRenderer()
  renderer.add_google_maps_listeners()
  renderer.add_oms_listeners()
  markers = new Markers(
    '<%= asset_path 'ic-destaque-mapa-gd.svg' %>',
    '<%= asset_path 'ic-video-mapa-gd.svg' %>'
  )
  renderer.load_markers(markers)

initMap()
