<footer>
  <ul>
    <li><%= t('recommend') %></li>
    <li><%= link_to t('copyright'), t('copyright_url'), target: '_blank' %></li>
    <li><%= link_to t('public_domain'), t('public_domain_url'), target: '_blank' %></li>
    <li><%= link_to t('creative_commons'), creative_commons_path, :data => { :colorbox => true, :colorbox_height => '80%', :colorbox_width => '80%' } %></li>
    <li><%= link_to t('soundtrack_copyright'), soundtrack_copyright_path, :data => { :colorbox => true, :colorbox_height => '55%', :colorbox_width => '80%' } %></li>
    <li><%= link_to t('image_copyright'), image_copyright_path, :data => { :colorbox => true, :colorbox_height => '55%', :colorbox_width => '80%' } %></li>
    <li><%= link_to t('faq'), faq_path, :data => { :colorbox => true, :colorbox_height => '80%', :colorbox_width => '80%' } %></li>
  </ul>

  <ul>
    <li><%= t('know_more') %></li>
    <li><%= link_to t('exhibition_network'), exhibition_network_path, :data => { :colorbox => true, :colorbox_height => '80%', :colorbox_width => '80%' } %></li>
    <li><%= link_to t('sourcecode'), 'https://gitlab.com/minuto/media_choice', target: '_blank' %></li>
  </ul>

  <ul>
    <li><%= t('minute') %></li>
    <li><%= link_to t('about'), about_us_path, :data => { :colorbox => true, :colorbox_height => '80%', :colorbox_width => '80%' } %></li>
    <li><%= link_to t('show'), exhibit_on_your_institution_path, :data => { :colorbox => true, :colorbox_height => '50%', :colorbox_width => '80%' } %></li>
    <li><%= link_to t('terms'), terms_of_use_path, :data => { :colorbox => true, :colorbox_height => '80%', :colorbox_width => '80%' } %></li>
    <li><%= link_to t('sponsorship'), sponsorship_path, :data => { :colorbox => true, :colorbox_height => '40%', :colorbox_width => '80%' } %></li>
    <li><%= link_to t('contact'), contact_us_path, :data => { :colorbox => true, :colorbox_height => '35%', :colorbox_width => '80%' } %></li>
    <li><%= link_to t('education'), education_path, :data => { :colorbox => true, :colorbox_height => '60%', :colorbox_width => '80%' } %></li>
  </ul>
  <!-- If you want to use Quick Access, uncomment here and see _footer.scss
    <div>
      <h3><%= t('quick') %></h3>
      <select>
        <option value="videos"><%= t('videos') %></option>
        <option value="enviar conteudo"><%= t('submit') %></option>
        <option value="concursos"><%= t('contests') %></option>
        <option value="noticias"><%= t('news') %></option>
        <option value="ajuda"><%= t('help') %></option>
        <option value="imprensa"><%= t('press') %></option>
      </select>
    </div>
  -->
</footer>
