<header class="general-header">
  <div class="top-bar">
    <div class="top-bar-title">
      <div class="logo">
        <%= link_to(image_tag(i18n_logo, class: 'img-responsive'), root_path) %>
      </div>
      <span data-responsive-toggle="responsive-menu" data-hide-for="large">
        <span class="menu-icon dark" data-toggle></span>
      </span>
    </div>
    <div id="responsive-menu">
      <div class="top-bar-right">
        <ul class="dropdown menu primary-menu" data-dropdown-menu>
          <li>
            <%= link_to(t('upload_content'), new_content_path, class: 'featured-link') %>
          </li>
          <!-- This page is not ready yet
          <li>
            <%= link_to(Contest.model_name.human(count: 2), '#') %>
          </li>
          -->
          <% if user_signed_in? %>
            <li>
              <a id='my-account' href="#">
                <%= t("account.my") %> <span class="caret"></span>
              </a>
              <ul class="menu">
                <!-- TODO: implement user edition
                <li>
                  <%= link_to t('account.edit'), edit_user_registration_path(current_user.id) %>
                </li>
                -->
                <% if current_user.profile.present? %>
                  <li>
                    <%= link_to t('profile_links.edit'), edit_profile_path(current_user.profile) %>
                  </li>
                  <li>
                    <%= link_to t('account.my_page'), profile_path(current_user.profile) %>
                  </li>
                <% else %>
                  <li>
                    <%= link_to t('profile_links.new'), new_profile_path %>
                  </li>
                <% end %>
                <!-- TODO: this would be a route to my_friends_path(current_user)
                <li>
                  <%= link_to t('account.friends'), '#' %>
                </li>
                -->
                <li>
                  <%= link_to t('account.signout'), destroy_user_session_path, method: :delete %>
                </li>
              </ul>
            </li>
            <li>
              <% if current_user.admin? %>
              <%= link_to t('control_panel'), admin_root_path %>
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to t('account.signup'), new_user_registration_path %>
            </li>
            <li>
              <a id="login_link" data-open="login-modal"><%= t('login') %></a>
            </li>
          <% end %>
          <li>
            <a class="language-selector" href="#"><%= t('home.language') %></a>
            <ul class="menu">
              <% I18n.available_locales.each do |locale| %>
                <li>
                  <%= link_to("/#{locale}", data: { no_turbolink: true }, class: locale) do %>
                    <%= image_tag("#{locale}-icon.png") %><%= locale == :en ? 'english' : 'português' %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </li>
        </ul>
        <ul class="menu secondary-menu">
          <!-- TODO: implement searches
          <li>
            <form action="search.html" method="get">
              <input class="search-box" type="search" placeholder="<%= t('looking_for') %>">
              <button type="submit" class="search-button">
                <i class="fa fa-search"></i>
              </button>
            </form>
          </li>
          -->
          <li>
            <div class="social-links-group">
              <%= link_to 'http://facebook.com/festivaldominuto', target: '_blank' do %>
                <i class="fa fa-facebook"></i>
              <% end %>
              <%= link_to 'http://twitter.com/festivaldominuto', target: '_blank' do %>
                <i class="fa fa-twitter"></i>
              <% end %>
              <%= link_to 'http://vimeo.com/oneminutefestivalbr', target: '_blank' do %>
                <i class="fa fa-vimeo"></i>
              <% end %>
              <%= link_to 'http://youtube.com/user/festivaldominuto', target: '_blank' do %>
                <i class="fa fa-youtube-play"></i>
              <% end %>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<% unless user_signed_in? %>
  <div class="reveal tiny" id="login-modal" data-reveal>
    <h3><%= t('home.do_login') %></h3>
    <!-- TODO: implement facebook integration
    <a class="fb-button" href="#">
      <i class="fa fa-facebook-square"></i>&nbsp; <%= t('home.login_with_facebook') %>
    </a>
    <hr>
    <p class="lead"><%= t('complete_form') %>:</p>
    -->

    <%= form_for(:user, url: session_path(:user)) do |f| %>
      <div class="field">
        <%= f.label t('email') %><br />
        <%= f.email_field :email, autofocus: true, class: 'search-box' %>
      </div>

      <div class="field">
        <%= f.label t('password') %><br />
        <%= f.password_field :password, autocomplete: "off", class: 'search-box' %>
      </div>

      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label t('remember_me') %>
      </div>

      <%= f.submit I18n.t('enter'), class: 'button' %>
    <% end %>

    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
