<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= t('.title') %> <%= yield :title %></title>

    <%= stylesheet_link_tag "application", media: "all" %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <%= csrf_meta_tags %>
  </head>
  </head>
  <body>

    <div class="top-banner">
      <%= image_tag(i18n_top_banner, class: 'img-responsive') %>
    </div>

    <%= render partial: 'application/navbar' %>

    <%= render partial: 'shared/messages' %>

    <%= yield %>

    <%= render partial: 'application/footer' %>

    <%= javascript_include_tag "application" %>

    <%= yield :footer %>

  </body>
</html>
